// hello
.testing {
  width: percentage(3/7);
}

$tile_border: #CCD1D9;
$white: #ffffff;
$warn-light:  #FEF8F1;
$good-light: #F5FBF7;
$danger-light: #FDF6F6;

// darken mixin
@mixin setBgColorAndHover($baseColor, $borderColor) {
  background-color: $baseColor;
  border: 1px solid $borderColor;
  &:hover {
    background-color: darken($baseColor, 10%);
    border-color: darken($borderColor, 10%);
  }
}

.tile_info {
  @include setBgColorAndHover( $white, $tile_border );
}

.tile_danger {
  @include setBgColorAndHover( $danger-light, $tile_border );
}

.tile_warn {
  @include setBgColorAndHover( $warn-light, $tile_border );
}

.tile_good {
  @include setBgColorAndHover( $good-light, $tile_border );
}