/* Add your custom css here */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
   
  /* Hide default HTML checkbox */
  .switch input {display:none;}
   
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
   
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
   
  input:checked + .slider {
    background-color: #1aa4c3;
  }
   
  input:focus + .slider {
    box-shadow: 0 0 1px #1aa4c3;
  }
   
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
   
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
   
  .slider.round:before {
    border-radius: 50%;
  }
  .radio {
    margin: 0px;
  }

  .radio-boxes .well-plain {
    padding: 15px;
  }

  .radio-boxes .well-plain:hover {
    border-color: #009abd;
    cursor: pointer;
  }

  .radio-boxes .selected {
    background-color: #EAF3F5;
    padding: 15px;
  }

  .radio-boxes .radio label {
    font-weight: 700;
  }

  .radio-boxes .radio p {
    margin-top: 8px;
  }
