/* These styles can be tested on the partials/_styles.html.njk file */
/* you can see everything in action :) */
/* Avoid editing this file */
/* Add custom styles to the custom.css file*/

* {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color: #333840;
	margin: 0;
	padding: 0;
	border-radius: 1px;
}

body {
	background-color: #f5f5f4;
}

/* typography */

/* styles */

p {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
}

p small {
	font-size: 12px;
	color: #5a616b;
}

strong {
	font-size: 14px;
	font-weight: 600;
}

/* heading styles */

h1 {
	font-size: 36px;
	font-weight: 500;
	margin-top: 0px;
	color: #33383f;
	margin-bottom: 5px;
  }

h2 {
	font-size: 30px;
	font-weight: 500;
	margin-top: 0px;
	color: #33383f;
	margin-bottom: 5px;
  }

h3 {
	font-size: 24px;
	font-weight: 500;
	margin-top: 0px;
	color: #33383f;
	margin-bottom: 5px;
  }

h4 {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0px;
	color: #33383f;
	line-height: 22px;
	margin-bottom: 0px;
  }

h5 {
	font-size: 14px;
	font-weight: 500;
	margin-top: 0px;
	color: #33383f;
	margin-bottom: 0px;
  }

h6 {
	font-size: 12px;
	font-weight: 500;
	margin-top: 0px;
	color: #33383f;
	margin-bottom: 5px;
  }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #989FA8;
}


/* elements */

hr {
	border-top: 1px solid #e7e6e6;
	margin-top: 5px;
	margin-bottom: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	display: inline;
}

/* spacing */

/* margin */

.m-0 {
	margin: 0px;
}

.m-5 {
	margin: 5px;
}

.m-15 {
	margin: 15px;
}

.m-30 {
	margin: 30px;
}

.ml-0 {
	margin-left: 0px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-30 {
	margin-left: 30px;
}

.mr-0 {
	margin-right: 0px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-30 {
	margin-right: 30px;
}

.ml-0 {
	margin-left: 0px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-30 {
	margin-left: 30px;
}

.mt-0 {
	margin-top: 0px;
}

.mt-5 {
	margin-top: 5px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-0 {
	margin-bottom: 0px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mr-15pr {
	margin-right: 15%;
}

.mr-30pr {
	margin-right: 30%;
}

/* padding */

.p-0 {
	padding: 0px;
}

.p-5 {
	padding: 5px;
}

.p-15 {
	padding: 15px;
}

.p-30 {
	padding: 30px;
}

.pr-0 {
	padding-right: 0px;
}

.pr-5 {
	padding-right: 5px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-30 {
	padding-right: 30px;
}

.pl-0 {
	padding-left: 0px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-30 {
	padding-left: 30px;
}

.pt-0 {
	padding-top: 0px;
}

.pt-5 {
	padding-top: 5px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-30 {
	padding-top: 30px;
}

.pb-0 {
	padding-bottom: 0px;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-30 {
	padding-bottom: 30px;
}

/* width */

.w-15px {
	width: 15px;
}

.w-30px {
	width: 30px;
}

.w-60px {
	width: 45px;
}

.w-90px {
	width: 60px;
}

.w-120px {
	width: 120px;
}

.w-10 {
	width: 10%;
}

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.w-100 {
	width: 100%;
}

/* alignment */

.ta-r {
	text-align: right;
}

.ta-l {
	text-align: left;
}

.ta-c {
	text-align: center;
}

.f-r {
	float: right;
}

.f-l {
	float: left;
}

/* shapes */

.circle {
	border-radius: 100px;
}

/* well */

.well {
	background-color: #f5f5f4;
	border-radius: 1px;
	box-shadow: none;
	border-width: 0px;
	padding: 15px;
	margin-bottom: 0px;
}

.well-plain {
	background-color: white;
	border-radius: 1px;
	border: 1px solid #CCD1D9;
	box-shadow: none;
	padding: 30px;
	margin-bottom: 0px;
}

.well-outline {
	background-color: #f5f5f4;
	border-radius: 1px;
	box-shadow: none;
	border: 1px solid #CCD1D9;
	padding: 15px;
	margin-bottom: 0px;
}

.well-dark {
	background-color: #E7E6E6;
	border-radius: 1px;
	box-shadow: none;
	border: none;
	padding: 15px;
	margin-bottom: 0px;
}

/* base page */

/* card */

.gap {
	width: 100%;
	height: 95px;
}

.container-fluid {
	max-width: 1310px;
}

div {
	border: none;
}

#show {
	border: 1px solid #CCD1D9;
	padding: 0px 6px 0px 6px;
}

.card {
	background-color: white;
	padding: 30px;
	border: none;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 1px;
	min-height: 800px;
}

/* menu */

#menu-primary ul {
	list-style-type: none;
	margin: 0;
}

#menu-primary li {
    display: inline;
    margin-right: 15px;
    text-decoration: none;
}

#menu-primary li:hover {
	border-bottom: 2px solid #bd2532;
	cursor: pointer;
}

#menu-user-info{
	list-style-type: none;
	float: right;
	color: #ffffff;
	padding-top: 6px;
	padding-bottom: 6px;
	display: inline;
}

#menu-user-info li{
		color: #ffffff;
    	display: inline;
		cursor: pointer;
		font-size: 12px;
}

#menu-user-info li:hover {
	border-bottom: 2px solid #ffffff;
	cursor: pointer;
}

#menu-user-info i{
		color: #ffffff;
}

/* nav */

#nav {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

#pyracloud-navigation-top {
	height: 36px;
	background-color: #41474e;
	z-index: 1;
}

#pyracloud-navigation {
	height: auto;
	background-color: #ffffff;
}

#nav-content {
	width: 1280px;
	margin: 0 auto;
	font-size: 12px;
}

#nav-content-bottom {
	width: 1280px;
	margin: 0 auto;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#menu-search {
	width: 280px;
	height: 24px;
}

#pyra-input {
	border-radius: 1px;
	width: 280px;
	height: 24px;
}

/* images */

#pyracloud-logo {
	height: 20px;
	cursor: pointer;
	display: inline;
	margin-right: 10px;
	margin-top: -2px;
}

/* menu icons - right */

nav-tabs {
	border-bottom: 1px solid #e6e6e5;
}

.nav-tabs li a{
	background-color: #e7e6e6;
	border-bottom-color: #e6e6e5;
	border-bottom-width: 1px;
	border-radius: 1px;
	color: #5a616b;
}

 .nav-tabs li i{
	 color: #5a616b;
 }

.nav-tabs .active i {
	color: #009abd;
 }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #009abd;
}

#primary-search .form-control {
	width: 100%;
	border-radius: 1px;
	z-index: 0;
}

.fa-chevron-down {
	font-size: 10px;
}

#fa-user-circle-o {
	font-size: 21px;
	color: #f5f5f4;
	opacity: 0.5;
	margin-right: 0px;
	padding-right: 2px;
}

.user-box {
	border-left: 1px solid black;
	padding-right: 10px;
	padding-left: 10px;
}

/* breadcrumb */

.breadcrumb-text {
	font-size: 10px;
	color: #979797;
}

.youarehere {
	font-size: 10px;
}

.breadcrumb-active {
	font-size: 10px;
	color: #5a616b;
}

.breadcrumb-active:hover {
	color: #009abd;
}

.breadcrumb-static {
	font-size: 10px;
	font-weight: 500;
	color: #989fa8;
}

.breadcrumb-current-page {
	font-size: 10px;
	color: #979ea8;
}

/* actions */
  
.page-actions {
	padding-top: 2.6rem;
	padding-bottom: 2rem;
	padding-right: 1.3rem;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color: #989fa8;
  }

.page-action-btn, .page-action-btn i {
	font-size: 12px;
	color: #5a616b;
}

#page_action_edit {
	color: #989fa8;
}

  .page-actions:hover{
	cursor: pointer;
  }

  .page-actions button {
	background: none;
	border: 0;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color: #333840;
  }

/* footer */

#footer-content {
	display: inline;
	width: 1280px;
}

#footer-logo {
	width: 100px;
}

#footerinfo {
	padding: 24px;
	border-left: 2px solid gray;
}

#footer-paragraph {
	width: 1000px;
}

/* components */

/* buttons */

button {
	outline: none;
}

button:disabled {
	background-color: var(--white);
	color: #ccd1d9;
	border: 1px solid #ccd1d9;
}

button:disabled i {
	color: #ccd1d9;
}

button:disabled:hover {
	background-color: #979ea8;
	color: #ccd1d9;
	border: 1px solid #979ea8;
}

.btn-primary {
	border: 1px solid #009abd;
	border-radius: 1px;
	background-color: #009abd;
	color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #00708a;
	border-radius: 1px;
	border: 1px solid #00708a;
	background-image: none;
	color: white;
}

.btn-default {
	border: 1px solid #009abd;
	border-radius: 1px;
	background-color: white;
	color: #009abd;
}

.btn-default i {
	color: #009abd;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
	background-color: #00708a;
	border-radius: 1px;
	border: 1px solid #00708a;
	background-image: none;
	color: white;
}

.btn-danger {
	border: 1px solid #d54f57;
	border-radius: 1px;
	background-color: #d54f57;
	color: white;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
	background-color: #c32e37;
	border-radius: 1px;
	border: 1px solid #d54f57;
	background-image: none;
	color: white;
}

.btn-outline {
	border: 1px solid #ccd1d9;
	border-radius: 1px;
	background-color: white;
	color: #5a616b;
}

.btn-outline i {
	color: #5a616b;
}

.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
	background-color: #e6e6e6;
	border-radius: 1px;
	border: 1px solid #ccd1d9;
	background-image: none;
	color: #5a616b;
}

.btn-link, .btn-link i {
	color: #009abd;
	padding: 0px 0px 0px 0px;
}

.btn-link:hover {
	text-decoration: none;
	color: #00708a;
	padding: 0px 0px 0px 0px;
	cursor: pointer;
}

.btn-link-sm, .btn-link-sm i {
	color: #009abd;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
}

.btn-link-sm:hover {
	text-decoration: none;
	color: #00708a;
	padding: 0px 0px 0px 0px;
}

.btn-link-action, .btn-link-action i {
	color: #33383f;
	padding: 0px 0px 0px 0px;
	background:rgba(0,0,0,0);
	border: none;
}

.btn-link-action:hover, .btn-link-action i:hover {
	text-decoration: none;
	color: #009abd;
	padding: 0px 0px 0px 0px;
	cursor: pointer;
	background:rgba(0,0,0,0);
}

.input-group-btn {
	z-index:0;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	color: white;
	background-color: #009abd;
	border: 1px solid #009abd;
}

.btn-default.active:hover, .btn-default:active:hover, .open>.dropdown-toggle.btn-default:hover {
	background-color: #00708a;
	border-radius: 1px;
	border: 1px solid #00708a;
	background-image: none;
	color: white;
}

.btn .caret {
	margin-left: 5px;
	color: white;
}

.open>.dropdown-menu {
	border-radius: 1px;
	margin: 0px;
	padding: 0px;
	max-width: 250px;
}

.btn-primary i {
	color: white;
}

.open>.dropdown-menu a:hover {
	color: #009abd;
}

.dropdown-menu > li > a {
	padding: 6px 10px;
}

.dropdown-menu .divider {
	margin: 0px;
}

.explainer-text {
	font-size: 12px;
	color: #989FA8;
	margin-top: 5px;
	margin-bottom: 0px;
	word-wrap: break-word;
	width: 100%;
}

.btn-search {
	background-color: #F5F5F4;
	border: 1px solid #ccd1d9;
	border-radius: 1px;
}

.btn-search .caret {
	color: #33383F;
}

.gobal-search .btn-search, .gobal-search .form-control, .gobal-search .btn-primary {
	height: 30px;
	font-size: 12px;
}

.gobal-search {
	width: 500px;
}

.gobal-search .dropdown-menu {
	font-size: 12px;
}

.input-group-btn {
	padding: 0;
}


/* forms */

.required {
	color: #009abd;
}

.input-group-addon, .input-group .form-control, .form-control  {
	border-radius: 1px;
	border: 1px solid #CCD1D9;
	box-shadow: none;
	padding: 6px 8px;
	z-index: 0;
}

.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
	z-index: 0;
}

.input-group .form-control {
	padding-left: 10px;
}

label {
	font-weight: 400;
	color: #33383f;
}

.input-group-addon:active, .input-group .form-control:active, .input-group-addon:focus, .input-group .form-control:focus, .form-control:active, .form-control:focus {
	border-radius: 1px;
	border: 1px solid #009abd;
	box-shadow: none;
}

label:active, label:hover {
	font-weight: 400;
	color: #009abd;
}

.search-icon {
	z-index: 2;
}

textarea::-webkit-input-placeholder {
	color: #5a616b;
	}
	
	textarea:-moz-placeholder { /* Firefox 18- */
	color: #5a616b;  
	}
	
	textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #5a616b;  
	}
	
	textarea:-ms-input-placeholder {
	color: #5a616b;  
	}

.upload-files {
	background-color: #F5F5F4;
	border: 1px solid #ccd1d9;
	padding: 10px;
	margin-bottom: 15px;
}

.form-control {
	border-radius: 1px;
	-webkit-appearance: none;
}

.placeholder {
	color: #CCD1D9;
}

.search-box .btn-link {
	padding: 7px 9px 5px 9px;
	border: 1px solid #ccd1d9;
	border-width: 1px 1px 1px 0px;
	background-color: white;
}

.search-box .form-control {
	border: 1px solid #ccd1d9;
	border-width: 1px 0px 1px 1px;
	position: relative;
	z-index: 0;
}

/* tabs */

/* primary */

.primary-tabs {
	border-bottom: 1px solid #e7e7e6; 
	width: 100%;
}

.primary-tabs.nav-tabs li a{
	background-color: #e7e6e6;
	border-bottom-color: #e6e6e5;
	border-bottom-width: 1px;
	border-radius: 1px;
	color: #5A616B;
	border-bottom: 1px solid #e7e7e6; 
}

.primary-tabs .nav-tabs li i{
	 color: #5A616B;
 }

 .primary-tabs .nav-tabs .active i {
	color: #009abd;
 }

 .primary-tabs.nav-tabs>li.active>a, .primary-tabs.nav-tabs>li.active>a:focus, .primary-tabs.nav-tabs>li.active>a:hover {
	color: #009abd;
}

/* secondary */

.secondary-tabs {
	border-bottom: 1px solid #e7e7e6; 
	width: 100%;
	margin-bottom: 30px;
}

.secondary-tabs .nav-tabs li a {
	border: none;
	border-bottom: 1px solid #e6e6e5;
	color: #989fa8;
	background-color: white;
	margin: 0;
}

.secondary-tabs .nav-tabs li a i {
	color: #989fa8;
}

.secondary-tabs .nav-tabs li.active a, .secondary-tabs .nav-tabs li a:hover {
	border: none;
	border-bottom: 1px solid #009abd;
	color: #009abd;
}

.secondary-tabs .nav-tabs li a i:hover {
	color: #009abd;
}

.secondary-tabs .nav-tabs li.active a i {
	color: #009abd;
}

/* tiles */

.pyra-tile {
	cursor: pointer;
}

.nav-tile-positive {
	border: 1px solid #989fa8;
	border-radius: 1px;
	padding: 15px;
	height: 178px;
	position: relative;
}

.nav-tile-negative {
	border: 1px solid #318CA1;
	background-color: #009abd;
	border-radius: 1px;
	padding: 15px;
	height: 178px;
	color: white;
	position: relative;
}

.nav-tile-negative:hover {
	border: 1px solid #318CA1;
	background-color: #318CA1;
	border-radius: 1px;
	padding: 15px;
	height: 178px;
	color: white;
	position: relative;
}

.nav-tile-negative h4 {
	color: white;
	left: 15px;
	bottom: 15px;
	position: absolute;
	width: 80px;
}

.nav-tile-negative .module-icon {
	color: white;
	font-size: 36px;
	margin-top: 30px;
}

.nav-tile-negative .nav-arrow {
	color: white;
	font-size: 26px;
	right: 15px;
	bottom: 15px;
	position: absolute;
}

.counter-tile-neutral {
	border: 1px solid #ccd1d9;
	border-radius: 1px;
	background-color: white;
	padding: 15px;
	height: 69px;
	position: relative;
}

.counter-tile-neutral i, .counter-tile-success i, .counter-tile-warning i, .counter-tile-danger i {
	color: #5a616b;
}

.counter-tile-neutral:hover {
	background-color: #F5F5F4;
}

.counter-tile-success {
	border: 1px solid #ccd1d9;
	border-radius: 1px;
	background-color: #f5fbf7;
	padding: 15px;
	height: 69px;
	position: relative;
}

.counter-tile-success:hover {
	cursor: not-allowed;
}

.counter-tile-warning {
	border: 1px solid #ccd1d9;
	border-radius: 1px;
	background-color: #FEF8F1;
	padding: 15px;
	height: 69px;
	position: relative;
}

.counter-tile-warning:hover {
	background-color: #fac096;
}

.counter-tile-danger {
	border: 1px solid #ccd1d9;
	border-radius: 1px;
	background-color: #FDF6F6;
	padding: 15px;
	height: 69px;
	position: relative;
}

.counter-tile-danger:hover {
	background-color: #e9a2a6;
}

/* icons */

.fa-check-circle {
	color: #35ae63 !important;
}

.fa-minus-circle {
	color: #5a616b !important;
}

.fa-exclamation-circle {
	color: #f88a3b !important;
}

.fa-exclamation-triangle {
	color: #bd2532 !important;
}

.fa-info-circle {
	color: #009abd !important;
}

/* table */

.table {
	margin: 0;
	width: 100%;
}

.seperator {
	margin: 0px 5px;
	color: #989FA8;
}

thead th {
	background-color: #009abd;
	color: white;
	border: 0px solid gray;
}

thead tr {
	border: 0px solid gray;
}

tbody tr {
	border: 0px solid gray;
	cursor: pointer;
}

.table-toolbar {
	margin-bottom: 10px;
	height: 18px;
}

.table-toolbar p, .table-toolbar .btn-link-action, .table-toolbar .btn-link-action i {
	color: #5a616b;
	font-size: 12px;
}

.table-toolbar strong {
	width: 100%;
	margin-bottom: 15px;
	height: 14px;
	color: #5a616b;
	font-size: 12px;
	font-weight: 700;
}

.table-toolbar .show-count {
	height: 18px;
	width: 44px;
	font-size: 10px;
	padding: 0px 6px;
	margin-left: 3px;
	border: 1px solid #979ea8;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 1px;
}
.pagination i {
	color: #979ea8;
}

.pagination li a {
	color: #979ea8;
}

.pagination li .active {
	color: white;
	background-color: #009abd;
}

.pagination li .inactive, .pagination li .inactive i{
	color: #ccd1d9;
	background-color: #F5F5F4;
}

/* panel header */

.panel, .panel-group .panel {
	border-radius: 1px;
	box-shadow: none;
}

.panel-heading {
	padding-top: 12px;
	padding-bottom: 8px;
	position: relative;
}

.panel p {
	margin: 0;
}

.panel .label {
	color: #33383f;
	font-size: 14px;
	padding: 0px;
	font-weight: 600;
	margin-bottom: 10px;
}

.panel-action {
	float: right;
	top: 10px;
	right: 15px;
	position: absolute;
}

.expanded-section {
	background-color: #F5F5F4;
	padding: 15px 0px;
	margin-bottom: -15px;
}

.panel .not-started {
	color: #989FA8 !important;
}

.panel .complete {
	color: #989FA8;
}

.panel-group-white .panel-heading {
	background-color: white;
}

.panel-group-white .panel-heading small {
	margin-left: 30px;
}

/* aletrts */

.alert-info {
	border-radius: 1px;
	border: 1px solid #e7e6e6;
	background-color: white;
	padding: 30px;
}

.alert-info .icon {
	font-size: 60px;
	color: #dbe8eb;
}

.alert-dismissable .close, .alert-dismissible .close {
	font-size: 18px;
	color: #ccd1d9;
	padding-right: 15px;
}

.alert-danger {
	border-radius: 1px;
	background-color: #fdf6f6;
	border: 1px solid #e9a2a6;;
}

.alert-danger .fa-times {
	color: #e9a2a6;
}

.alert-warning {
	border-radius: 1px;
	background-color: #fef8f1;
	border: 1px solid #fac096;;
}

.alert-warning .fa-times {
	color: #fac096;
}

.alert-success {
	border-radius: 1px;
	background-color: #f5fbf7;
	border: 1px solid #95d4ad;;
}

.alert-success .fa-times {
	color: #95d4ad;
}

.alert-inform {
	border-radius: 1px;
	background-color: #eaf3f5;
	border: 1px solid #8cccd4;;
}

.alert-inform .fa-times {
	color: #8cccd4;
}



/* empty state */

.empty-state {
	display: block;
}

.empty-state .icon {
	font-size: 100px;
	color: #eaf3f5;
	margin-bottom: 15px;
	margin-top: 15px;
}

.empty-state .lonely-text {
	font-weight: 700;
	font-size: 20px;
	color: #989fa8;
}

/* stepper */

/* New */

.stepper-component {
	height: 50px;
}

.stepper {
	height: 22px;
	width: 640px;
}

.stepper-circles {
	margin: 0px 60px;
}

.step {
	float: left;
}

.stepper-labels .label {
	float: left;
	text-align: center;
	color: #333840;
	font-size: 14px;
	font-weight: 400;
	width: 140px;
}

.stepper .circle {
	border-radius: 100px;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	background-color: #ccd1d9;
	margin-bottom: 5px;
	float: left;
}

.stepper .circle p {
	padding: 1.5px 3px 4.5px 7.5px;
}

.stepper .inprogress {
	background-color: #95d4ad;
}

.stepper .inprogress p {
	color: white;
}

.stepper .complete {
	background-color: #35ae63 !important;
}

.stepper-component .inactive {
	color: #979ea8 !important;
}

.stepper .complete p {
	color: white;
}

.stepper .line {
	margin-top: 11px;
	height: 2px;
	background-color: #ccd1d9;
	float: left;
}

.stepThree .line {
	width: 44.5%;
}

.stepFour .line {
	width: 28.5%;
}

.labelOne {
	margin-left: 0px;
}

.stepThree .labelTwo {
	margin-left: 165px;
}

.stepThree .labelThree {
	margin-left: 170px;
}

.stepThree .labelThree {
	margin-left: 170px;
}

.stepFour .labelTwo {
	margin-left: 63px;
}

.stepFour .labelThree {
	margin-left: 68px;
}

.stepFour .labelFour {
	margin-left: 65px;
}

/* modal */

.modal {
	margin-top: 15%;
}

.modal-content {
	border-radius: 1px;
	width: 598px;
	margin: 0 auto;
}

.modal-header {
	height: 42px;
	background-color: #333840;
	padding: 8px 15px;
}

.modal-title {
	color: white;
	font-size: 16px;
	margin: 0;
	margin-top: 3px;
}

.modal-footer {
	padding: 15px;
	border-top: none;
}

.modal .close i {
	font-size: 20px;
	color: white;
	margin-top: 5px;
}

.document {
	min-height: 1280px;
}

.entry {
	width: 100%;
	height: 90px;
	margin: 0px 0px 0px 10px;
}

.oval {
	width: 5px;
	height: 5px;
	background-color: #989fa8;
	border-radius: 100px;
	margin: 7px 15px 0px -2px;
	float: left;
}

.entry  .line {
	border-left: 1px solid #E7E6E6;
	height: 59.9px;
	width: 1px;
	margin: 5px 2px 0px 0px;
	float: left;
}

.entry .box {
	border: 1px solid #E7E6E6;
	padding: 10px 12px;
	width: 1180px;
	float: left;
	margin: 5px 0px 0px 15px;
}

.entry .box p {
	font-weight: 700;
	width: 90%;
	margin: 0;
	float: left;
}

.entry i {
	float: right;
	margin: 5px 5px 0px 0px;
	color: #5a616b;
}

/* Badge */

.badge {
	border-radius: 1px;
}

.badge-success {
	background-color: #25C060;
}

.badge-gray {
	background-color: white;
	color: #33383F;
	border: 1px solid #E7E6E6;
}