* {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color: #333840;
	margin: 0;
	padding: 0;
	border-radius: 1px;
}

body {
	background-color: #f5f5f4;
}

/* Page styles */

.container-fluid {
	max-width: 1310px;
}

div {
	border: none;
}

#show {
	border: 1px solid #CCD1D9;
	padding: 0px 6px 0px 6px;
}

.card {
	background-color: white;
	padding: 30px;
	border: none;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 1px;
}

/* This is used for the page title */

#tabs-secondary {
	border-bottom: 0px solid #e7e6e6;
}

#tabs-secondary li a {
	background-color: #ffffff;
	border-bottom-color: gray;
	border-bottom-width: 0px;
	color: #989fa8;
}

#tabs-secondary li a:hover {
	background-color: #ffffff;
	border-bottom-color: gray;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	color: #989fa8;
}

#tabs-secondary>li.active>a, #tabs-secondary>li.active>a:focus, #tabs-secondary>li.active>a:hover{
	color: #009abd;
	border-bottom-color: #009abd;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
}

.badge-menu {
	position: relative;
	padding: 3px;
	padding-bottom: 1px;
	background-color: #D54F57 !important;
	font-size: 10px;
	right: 5px;
	top: -8px;
}

.tile h4 {
	color: #33383F;
	font-weight: 400;
}

.tile i {
	color: #5A616B;
}

.fade {
	display: none;
}

.in {
	display: inline;
}

.warning-tile :hover{
	background-color: #FEF8F1;
	cursor: pointer;
}

.error-tile :hover{
	background-color: #FDF6F6;
	cursor: pointer;
}

.okay-tile :hover {
	background-color: #F5FBF7;
	cursor: pointer;
}

.archive-tile :hover {
	background-color: #F5F5F4;
	cursor: pointer;
}

h1 {
	font-size: 36px;
	font-weight: 500;
  	line-height: 36px;
  	margin: 0px;
  	margin-bottom: 11px;
		margin-top: 13px;
}

h2 {
	font-size: 24px;
	margin: 0px;
}

h4 {
	margin-top: 6px;
	margin-bottom: 6px;
}

h5 {
	font-size: 10px;
	color: #5a616b;
	line-height: 18px;
	margin: none;
}

p {
	font-size: 14px;
	margin-bottom: 0px;
	border-color: #009abd;
}

a{
	color: #009abd;
}

a:hover {
	text-decoration: none;
}

ul {
	margin: 0;
	display: inline;
	margin-left: 54px;
}

.gap {
	width: 100%;
	height: 80px;
}

/* Breadcrumb styles */

.breadcrumb-active {
	font-size: 10px;
	color: #5a616b;
}

.breadcrumb-active:hover {
	color: #009abd;
}

.breadcrumb-static {
	font-size: 10px;
	font-weight: 500;
	color: #989fa8;
}

.breadcrumb-current-page {
	font-size: 10px;
	color: #979ea8;
}

/* Nav Styles */

#nav {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

#pyracloud-navigation-top {
	height: 36px;
	background-color: #41474e;
}

#pyracloud-navigation {
	height: auto;
	background-color: #ffffff;
}

#nav-content {
	width: 1280px;
	margin: 0 auto;
	font-size: 12px;
}

#nav-content-bottom {
	width: 1280px;
	margin: 0 auto;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#menu-search {
	width: 280px;
	height: 24px;
}

#pyra-input {
	border-radius: 1px;
	width: 280px;
	height: 24px;
}

/* Menu styles */

#menu-primary ul {
	list-style-type: none;
	margin: 0;
}

#menu-primary li {
    display: inline;
    margin-right: 15px;
    text-decoration: none;
}

#menu-primary li:hover {
	border-bottom: 2px solid #bd2532;
	cursor: pointer;
}

#menu-user-info{
	list-style-type: none;
	float: right;
	color: #ffffff;
	padding-top: 6px;
	padding-bottom: 6px;
	display: inline;
}

#menu-user-info li{
		color: #ffffff;
    	display: inline;
		cursor: pointer;
		font-size: 12px;
}

#menu-user-info li:hover {
	border-bottom: 2px solid #ffffff;
	cursor: pointer;
}

#menu-user-info i{
		color: #ffffff;
}

/* Image Styles */

#pyracloud-logo {
	height: 20px;
	cursor: pointer;
	display: inline;
	margin-right: 10px;
	margin-top: -2px;
}

/* Icon styles */

nav-tabs {
	border-bottom: 1px solid #e6e6e5;
}

.nav-tabs li a{
	background-color: #e7e6e6;
	border-bottom-color: #e6e6e5;
	border-bottom-width: 1px;
	border-radius: 1px;
	color: #5a616b;
}

 .nav-tabs li i{
	 color: #5a616b;
 }

.nav-tabs .active i {
	color: #009abd;
 }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #009abd;
}

#primary-search .form-control {
	width: 100%;
	border-radius: 1px;
}

label {
	width: 100%;
}

.fa-chevron-down {
	font-size: 10px;
}

#fa-user-circle-o {
	font-size: 21px;
	color: #f5f5f4;
	opacity: 0.5;
	margin-right: 0px;
	padding-right: 2px;
}

.user-box {
	border-left: 1px solid black;
	padding-right: 10px;
	padding-left: 10px;
}

/* Footer info */

#footer-content {
	display: inline;
	width: 1280px;
}

#footer-logo {
	width: 100px;
}

#footerinfo {
	padding: 24px;
	border-left: 2px solid gray;
}

#footer-paragraph {
	width: 1000px;
}

.panel {
	box-shadow: none;
	margin-top: 15px;
	border-radius: 1px !important;
}

.panel .panel-heading {
	background-color: #f5f5f4;
	background-image: none;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.alert-secondary {
	margin-top: 15px;
	background-color: #f5f5f4;
	background-image: none;
	border-radius: 1px;
	border: none;
	padding: 15px;
}

.alert-info {
	margin-top: 15px;
	margin-bottom: 0px;
	background-image: none;
	border-radius: 1px;
	padding: 15px;
}

.btn-primary {
	background-color: #009abd;
	border-radius: 1px;
	border-color: #009abd;
	background-image: none;
	color: white;
}

.btn-default {
	color: #009abd;
	border-radius: 1px;
	border-color: #ffffff;
	background-image: none;
	border: 1px solid #009abd;
}

.btn i {
	color: white;
}

.treeview li{
	border: none;
	padding: 3px;
}

ul {
	margin-left: 0px;

}

.tile {
	border: 1px solid #ccd1d9;
	height: 69px;
	padding-right: 15px;
	padding-left: 15px;
	padding: 12px;
	background-image: none;
}


.tilenav {
	border: 1px solid #009abd;
	height: 69px;
	padding-right: 15px;
	padding-left: 15px;
	padding: 12px;
	background-color: #ffffff;
	color: #009abd;
}

.tilenav h4{
	color: #ffffff;
}

.tilesmall {
	border: 1px solid #ccd1d9;
	height: 92px;
	width: 92px;
	padding-right: 15px;
	padding-left: 15px;
	padding: 6px;
	background-image: none;
	background-color: #009abd;
	color: white;
	font-size: 12px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tilesmall p {
	font-size: 12px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
}

.tilesmall i {
	font-size: 30px;
	color: white;
	padding-top: 6px;
	position: absolute;
  bottom: 6px;
  left: 6px;
}

.tabs {
	margin-top: 30px;
	border-bottom: 1px solid #e7e6e6;
	padding: 0px;
}

.nav-item {
	margin-right: 3px;
	border-radius: 1px;
}

.nav-item .nav-link {
	border-radius: 1px;
}

.nav-link {
	border: 0px solid #ccd1d9;
	margin-right: 6px;
	border-radius: 1px;
	background-color:  #e7e6e6;
	color: gray;
}

.nav-item .active {
	border: 1px solid #ccd1d9;
	margin-right: 3px;
	border-radius: 1px;
	background-color: #ffffff;
	border-bottom-color: #ffffff;
	color: #009abd;
}

.nav-item :hover {
	border: 1px solid #ccd1d9;
	margin-right: 3px;
	border-radius: 1px;
	background-color: #ffffff;
	border-bottom-color: #ffffff;
	color: #009abd;
}

.tabrow {
	margin-right: 0px;
	margin-left: 0px;
}

table thead {
	background-color: #009abd;
}

table thead th{
	color: #ffffff;
}

.active .badge-secondary{
	border-radius: 1px;
	background-color: #ffffff;
	border: 1px solid #E7E6E6;
	color: #5A616B;
	font-weight: 500;
}

.badge-secondary{
	border-radius: 1px;
	background-color: #F5F5F4;
	border: 1px solid #E7E6E6;
	color: #5A616B;
	font-weight: 500;
}

.badge {
	border-radius: 1px;
	background-color: #25C060;
	color: #ffffff;
	font-weight: 400;
}

.btn-sort {
	background-color: #ffffff;
	border: 1px solid #e7e6e6;
	border-radius: 1px;
}

.wellnew {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 1px;
	border: 1px solid #e7e6e6;
}

.product-card {
	background-color: #ffffff;
	border: 1px solid #e7e6e6;
	border-radius: 1px;
	padding: 15px;
	position:relative;
}

.product-card a{
	color: #009abd;
	font-size: 16px;
	font-weight: 500;
}

.product-card h4{
	margin: 0px;
	padding-top: 6px;
}

.product-card img {
	padding: 10px;
	padding-left: 0px;
	max-height: 80px;
	max-width: 100px;
	vertical-align: middle;
	position:absolute;
	top: 5px;
	margin:auto;
}

.product-card .flag {
	padding: 10px;
	padding-top: 5px;
	padding-left: 0px;
	max-height: 35px;
	max-width: 100px;
	vertical-align: middle;
	position:relative;
	top: 3px;
	margin:auto;
}

#img-service {
	padding-left: 0px;
	max-height:200px;
	max-width: 200px;
	vertical-align: middle;
	position: absolute;
	margin: auto;
	padding: 0;
}

#pricing-service {
	margin-left: 120px;
}


#flag {
	position:relative;
	padding: 0;
	height: 16px;
	top: 0;
	padding-right: 6px;
}

.simpleCart_shelfItem img {
	max-height: 210px;
	max-width: 1703px;
}
.simpleCart_shelfItem  {
	border: none;
}

.simpleCart_shelfItem  .pricing{
	margin-left: 0px;
}

.pricing {
	margin-left: 80px;
}

.price-cut{
	color: #e7e6e6;
	font-weight: 500;
	font-size: 14px;
}

.documenttype {
	margin: 12px;
}

.fa-exclamation-triangle {
	color: #CF0A2B;
}

.fa-exclamation-circle, .fa-exclamation {
	color: #F88A3B;
}

.fa-paper-plane {
	color: #F88A3B;
}

.fa-check-circle{
	color: #25C060;
}

.fa-sync-alt {
	color: #5A616B;
}

.fa-user{
	color: #5A616B;
}

tr {
	padding-top: 8px;
	padding-bottom: 8px;
}

.actions {
	text-align: center;
}

.pending li a {
	background-color: #F5F5F4;
	border-radius: 1px;
	border: 1px solid #E7E6E6;
	color: #5A616B;
	min-width: 50px;
}

.pending {
	border-bottom: 1px solid #E7E6E6;
	padding: 0px;
	margin: 0 auto;
}

.pending li.active a{
	color: #009abd;
}

.searchbox {
	background-color: #F5F5F4;
	min-height: 50px;
	padding: 15px;
	padding-bottom: 15px;
}

.searchinput {
	height: 34px;
	width: 100%;
	margin-top:3px;
	border-radius: 1px;
	border: 1px solid #CCD1D9;
}


wellnew {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 1px;
	border: 1px solid #e7e6e6;
}

.product-card {
	background-color: #ffffff;
	border-radius: 1px;
	position: relative;
}

.product-card a{
	color: #009abd;
	font-size: 16px;
	font-weight: 500;
}

.product-card h4{
	margin: 0px;
	padding-top: 6px;
}

.item_quantity {
	width: 60px;
}

.product-card .form-group {
	float: right;
}

.product-card input {
	margin: 0;
	margin-right: 30px;
}

label {
	font-weight: 400;
}

.product-card .item_thumb {
	padding: 15px;
}

td {
	padding-right: 15px;
}

.actions {
	padding: 70px 0;
}

.flag {
	height: 40px;
	margin-right: 6px;
}

hr {
 border-top: 1px solid #CCD1D9;
 margin-bottom: 30px;
}

.price-cut{
	color: #e7e6e6;
	font-weight: 500;
	font-size: 14px;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #CCD1D9
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #CCD1D9
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #CCD1D9
}

.requestbox {
	border: 0px solid #CCD1D9;
	border-radius: 1px;
	padding: 30px;
	background-color: #EAF3F5;
}

.row {
	margin-bottom: 0px;
}

blockquote {
	border-left: none;
	padding-left: 0px;
	margin: 0px;
}

.tilehover {

}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #F5FBF7; /* Black background color */
	border: 1px solid #25C060;
    color: #33383F; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 2%; /* Center the snackbar */
    top: 110px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 5.0s;
}

#snackbar h3 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 15px;
	text-align: left;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 110px; opacity: 0;}
    to {top: 110px; opacity: 1;}
}

@keyframes fadein {
    from {top: 110px; opacity: 0;}
    to {top: 110px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 110px; opacity: 1;}
    to {top: 110px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 110px; opacity: 1;}
    to {top: 110px; opacity: 0;}
}


#dropdownMenu1 {
	width: 200px;
	text-align: left;
}

#dropdownMenu1 span {
	float: right;
	margin-top: 9px;
}

.fa-star {
	color: #009abd;

}

.col-input {
	width: 80px;
}

.col-name {
	width: 250px;
}

.col-price {
	width: 90px;
}

.modal-content {
	border-radius: 1px;
}

.modal-body {
	width: 600px;
	margin: 0 auto;
}


.cart {
	border: 1px solid #CCD1D9;
	padding: 30px;
	margin-bottom: 30px;
	background-color: #F5FBF7;
}

.modal-header {
	padding-left: 30px;
	padding-right: 30px;
}

.modal-dialog {
	width: 800px;
}

.action-button {
	text-align: center;
	display: inline;
	margin: 0 auto;
	width: 160px;
}

.fa-flag {
	float: right;
}

.info-cards .tiles {
    margin-bottom: 30px;
}

.link-text-black a {
    color: #009abd;
}

.link-text-black .fa-shopping-cart {
    color: #009abd;
}

.link-text-black .fa-user, .fa-users {
    color: #009abd;
}

.link-text-black .fa-globe {
    color: #009abd;
}

.fa-arrow-circle-right {
    color: #009abd;
}

.link-text-black .fa-ellipsis-h {
    color: #009abd;
}

.divider {
    color: #CCD1D9;
    margin-right: 6px;
    margin-left: 6px;
}

.navigation-links {
    font-size: 12px;
}

.navigation-links .fa-edit, .navigation-links .fa-shopping-cart {
    color: #0091bd;
}

#products-list {
    max-height: 80px;
    max-width: 70%;
    float: left;
    display: inline;
    padding: 0px 6px 0px 6px;

}

.simpleCart_shelfItem h4 {
    font-size: 16px;
    font-weight: 500;
}

.custom-checkbox {
    width: 20%;
    margin: 0;
    float: left;
    display: inline;
    padding: 30px 0px 30px 0px;
}

/* Dropdown Button */
.dropbtn, .dropbtn2 {
    background-color: white;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn:active, .dropbtn2:active, .dropbtn:focus, .dropbtn2:focus  {
    box-shadow: none  !important;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn2:hover, .dropbtn:focus, .dropbtn2:focus {
    background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown, .dropdown2 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
    border-radius: 1px;
    border: 1px solid #e7e6e6;
}

#myDropdown i {
    color: #333840;
}

#myDropdown2 i {
    color: #333840;
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-content2 a {
    color: #333840;
    font-size: 14px;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover, .dropdown-content2 a:hover {background-color: #f5f5f4; color: #009abd;}
.dropdown-content i:hover, .dropdown-content2 i:hover {color: #009abd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.navigation-links:hover {
    background-color: #f5f5f4;
    cursor: pointer;
}

.tile-red {
    border-color: #CCD1D9;
    background-color: #FDF6F6;
}

.tile-red:hover {
    background-color: #E9A2A6;
    cursor: pointer;
}

.tile-orange {
    border-color: #CCD1D9;
    background-color: #FEF8F1;
}

.tile-orange:hover {
    background-color: #FAC096;
    cursor: pointer;
}

.tile-green {
    border-color: #CCD1D9;
    background-color: #F5FBF7;
}

.tile-green:hover {
    background-color: #95D4AD;
    cursor: pointer;
}

.secondary-tabs-group {
    border-bottom: 1px solid #ccd1d9; 
    margin-bottom: 30px; 
    margin-top: -15px;
}

.tab-content, .tab-pane {
    margin-bottom: 30px;
}

.advanced-search-button {
    float: right;
    margin-left: 15px;
}

.alert-onboarding {
    border: 1px solid #CCD1D9;
    padding: 30px;
}

.alert-onboarding i {
    font-size: 60px; 
    color: #dbe8eb; 
    margin-left: 15px; 
    margin-top: 5px;
}

.alert-onboarding .close {
    font-size:30px; 
    margin:18px;
}

.grid-actions {
	float: right;
	font-size: 12px;
	padding-bottom: 8px;
}