<div class="searchbox" style="margin-bottom: 0px;">
    <div id="primary-search ">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">
                    <h4>Search</h4>
                </label><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <a href="#" class="glyphicon glyphicon-search form-control-feedback " id="search" style="bottom: 0; margin-top: 20px; margin-right: 20px; z-index: 2; cursor: pointer; color: black;"></a>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="color: #333840; border: 1px solid #CCD1D9; border-radius: 1px; height: 34px; margin-top: 0px;">All Products
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            All Products<br>
                                            <small>Description
                                            </small>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            Categorye<br>
                                            <small>Description
                                            </small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" style="" list="products">
                            <datalist id="products">
                                <option value="Coldfusion Builder">
                                    <option value="Office Pro Plus">
                                        <option value="Office Pro Plus from Office Standard">
                                            <option value="Visio Standard">
                                                <option value="10 GBPS Optical Multi-Mode Fail-Open Kit - 50 micron">
                                                    <option value="10 GBPS Optical Multi-Mode Fail-Open Kit - 62.5 micron"></datalist>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row" style="margin-bottom: 0px;">
                                    <div class="col-lg-6 ">
                                        <a href="#" id="hideoptions" hidden="hidden">
                                            <i class="fas fa-chevron-down" style="margin-top: 15px; color: #009abd;"></i>
                                            Hide Options</a>
                                        <a href="#" id="showsoptions">
                                            <i class="fas fa-chevron-right " style="margin-top: 15px; color: #009abd; "></i>
                                            Show Options</a>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <button type="button" class="btn btn-default advanced-search-button">
                                            <i class="fas fa-times " style="color: #009abd; "></i>
                                            Reset</button>
                                        <a type="button" class="btn btn-primary advanced-search-button">
                                            <i class="fas fa-search" style="color: #ffffff;"></i>
                                            Search</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="secondary-search" hidden="hidden">
                            <div class="row " style="background-color: #E7E6E6; padding-top: 15px; padding-bottom: 15px; margin: 0; ">
                                <div class="col-lg-3">
                                    <label>Publisher<input class="form-control" id="publishers" type="text" placeholder="-Any-"></label>
                                </div>
                                <div class=" col-lg-3 ">
                                    <label>Product Family<input class="form-control " id="publishers " type="text " placeholder="-Any- "></label>
                                </div>
                                <div class="col-lg-3 ">
                                    <label>Operating System<input class="form-control " id="publishers " type="text " placeholder="-Any- "></label>
                                </div>
                                <div class="col-lg-3 ">
                                    <label>Show Only<input class="form-control " id="publishers " type="text " placeholder="-Any- "></label>
                                </div>
                            </div>
                            <div class="row row ">
                                <div class=" col-lg-3 ">
                                    <label>License Model<input class="form-control " id="publishers " type="text " placeholder="-Any- "></label>
                                </div>
                                <div class="col-lg-3 ">
                                    <label>Type Filter<input class="form-control " id="publishers " type="text " placeholder="-Any- "></label>
                                </div>
                                <div class="col-lg-3 ">
                                    <label>Language<input class="form-control " id="publishers " type="text " placeholder="-Any- "></label>
                                </div>
                                <div class="col-lg-3 ">
                                    <label>SoftwareONE Company<input class="form-control " id="publishers " type="text " placeholder="-Any- "></label>
                                </div>
                            </div>
                        </div>
                        <br>
