<div class="row" style="border-bottom:1px solid #F5F5F4; padding:15px">
        <div class="col-md-8" >
        <h3 style="margin-top: 7px;margin-bottom:none">IT Group <span class="badge badge-secondary"></span></h3>
        </div>
        <div class="pull-right">
            <button class="btn btn-default"> Edit Group</button>
            <button class="btn btn-default"> Delete Group</button>
        </div>
 </div>


<div class="row" style="margin-bottom:15px">
            <h4 style="margin-top:15px; margin-bottom:15px;padding-left: 30px;font-weight:medium">Group Settings</h4>
                <div class="col-xs-2">
                <span style="padding-left: 15px;">Description</span>
                </div>
                <div class="col-xs-4">
                This group is for users who Manage Tags, Group, Consumption and Budgeting
                </div>
                
 </div>

 <div class="row" style="margin-bottom:15px">
                <div class="col-xs-2">
                <span style="padding-left: 15px;">No. of users</span>
                </div>
                <div class="col-xs-4">
                2
                </div>
                
 </div>

 {% include "_tabs_group.html.njk" %}



<div class="row"> 
    <div class="col-md-12">
      <a class="btn btn-primary" href="/rbac.html"><i class="fa fa-arrow-circle-left"></i> Back to overview</a>
    </div>
</div>