                    <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                    <img alt="placeholder-image" src="./images/pp_buttons.png" style="display: block;">
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-6">
                    <p class="grid-actions" style="margin-top: 18px;">1-10 of 10 items | Show <span id="show">10 <i class="fas fa-sort-down "></i></span> | <i class="fas fa-cog"></i> Customize</p>
                    </div> 
                    </div>      
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Provider</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Currency</th>
                                            <th scope="col">Budget Overview</th>
                                            <th scope="col">Predicted</th>
                                            <th scope="col" class="actions ">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row " class="documenttype "> <i class="fa expand-icon fa-chevron-down"></i> AWS Tenant</th>
                                            <th scope="row ">AWS</th>
                                            <td><i class="fas fa-circle" style="color:green"></i> Active</td>
                                            <th scope="row ">03/01/2016</th>
                                            <th scope="row ">05/29/2019</th>
                                            <td>USD</td>
                                            <td style="text-align: right; ">30,000 of 90,000 <br/>
                                             <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%;background-color:green" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">35,000</td>
                                            <td class="actions"><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype ">&nbsp;&nbsp;&nbsp;&nbsp; My Budget 2</th>
                                            <th scope="row ">AWS</th>
                                            <td><i class="fas fa-circle" style="color:#d0d0d0"></i> Inactive</td>
                                            <th scope="row ">03/01/2016</th>
                                            <th scope="row ">12/31/2017</th>
                                            <td>USD</td>
                                            <td style="text-align: right;">20,000 of 50,000 <br/>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%;background-color:#d0d0d0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">20,000</td>
                                            <td class="actions "><a href="#"><i class="fas fa-search"></i> View</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype ">&nbsp;&nbsp;&nbsp;&nbsp;My Budget 3</th>
                                            <th scope="row ">AWS</th>
                                            <td><i class="fas fa-circle" style="color:green"></i> Active</td>
                                            <th scope="row ">01/01/2018</th>
                                            <th scope="row ">12/31/2018</th>
                                            <td>USD</td>
                                            <td style="text-align: right;">10,000 of 20,000 <br/>
                                             <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;background-color:green" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                            
                                            </td>
                                            <td style="text-align: right;">15,000</td>
                                            <td class="actions "><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype ">&nbsp;&nbsp;&nbsp;&nbsp;My Budget 4</th>
                                            <th scope="row ">AWS</th>
                                            <td><i class="fas fa-circle" style="color:#d0d0d0"></i> Inactive</td>
                                            <th scope="row ">01/01/2019</th>
                                            <th scope="row ">12/31/2019</th>
                                            <td>USD</td>
                                            <td style="text-align: right;">0 of 20,000 <br/>
                                             <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0%;background-color:#d0d0d0" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                            
                                            </td>
                                            <td style="text-align: right;">-</td>
                                            <td class="actions "><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>

                                         <tr>
                                            <th scope="row " class="documenttype "> <i class="fa expand-icon fa-chevron-down"></i> Azure - EA</th>
                                            <th scope="row ">AWS</th>
                                            <td><i class="fas fa-circle" style="color:green"></i> Active</td>
                                            <th scope="row ">03/01/2016</th>
                                            <th scope="row ">05/29/2019</th>
                                            <td>USD</td>
                                            <td style="text-align: right; ">63,000 of 57,000 <br/>
                                             <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 100%;background-color:#CF0A2B" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">63,900</td>
                                            <td class="actions"><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype ">&nbsp;&nbsp;&nbsp;&nbsp;Commitment 2016</th>
                                            <th scope="row ">AWS</th>
                                            <td><i class="fas fa-circle" style="color:green"></i> Active</td>
                                            <th scope="row ">03/01//2016</th>
                                            <th scope="row ">12/31/2018</th>
                                            <td>USD</td>
                                            <td style="text-align: right;">63,000 of 57,000 <br/>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 100%;background-color:#CF0A2B" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">63,900</td>
                                            <td class="actions "><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>
                                              <tr>
                                            <th scope="row " class="documenttype "> <i class="fa expand-icon fa-chevron-down"></i> Azure Tenant</th>
                                            <th scope="row ">Azure</th>
                                            <td><i class="fas fa-circle" style="color:green"></i> Active</td>
                                            <th scope="row ">01/01/2016</th>
                                            <th scope="row ">31/12/2019</th>
                                            <td>USD</td>
                                            <td style="text-align: right; ">49,000 of 60,000 <br/>
                                             <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 80%;background-color:green" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">54,000</td>
                                            <td class="actions"><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype "> &nbsp;&nbsp;&nbsp;&nbsp;Azure Budget 2016</th>
                                            <th scope="row ">Azure</th>
                                            <td><i class="fas fa-circle" style="color:#d0d0d0"></i> Inactive</td>
                                            <th scope="row ">01/01/2016</th>
                                            <th scope="row ">31/12/2016</th>
                                            <td>USD</td>
                                            <td style="text-align: right; ">18,000 of 20,000 <br/>
                                             <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 95%;background-color:#d0d0d0" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">18,000</td>
                                            <td class="actions"><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype "> &nbsp;&nbsp;&nbsp;&nbsp;Azure Budget 2017</th>
                                            <th scope="row ">Azure</th>
                                            <td><i class="fas fa-circle" style="color: #d0d0d0"></i> Inactive</td>
                                            <th scope="row ">01/01/2017</th>
                                            <th scope="row ">31/12/2017</th>
                                            <td>USD</td>
                                            <td style="text-align: right; ">16,000 of 20,000 <br/>
                                             <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 80%;background-color: #d0d0d0" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">18,000</td>
                                            <td class="actions"><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype "> &nbsp;&nbsp;&nbsp;&nbsp;Azure Budget 2018</th>
                                            <th scope="row ">Azure</th>
                                            <td><i class="fas fa-circle" style="color:green"></i> Active</td>
                                            <th scope="row ">01/01/2018</th>
                                            <th scope="row ">31/12/2018</th>
                                            <td>USD</td>
                                            <td style="text-align: right; ">15,000 of 20,000 <br/>
                                             <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 75%;background-color:green" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td style="text-align: right;">18,000</td>
                                            <td class="actions"><a href="#"><i class="fas fa-search"></i> View</a> </td>
                                        </tr>
                                        
                                        
                                        
                                        
                                                  
                                      
                                    </tbody>
                                </table>