<div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                    <button class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add User</button>
                       </div>
                    <div class="col-lg-9 col-md-9 col-xs-6">
                    <p class="grid-actions" style="margin-top: 18px;">1-10 of 10 items | Show <span id="show">10 <i class="fas fa-sort-down "></i></span> | <i class="fas fa-cog"></i> Customize</p>
                    </div> 
                    </div>      
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">User</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Permission</th>
                                            <th scope="col">Group</th>
                                            <th scope="col" class="actions ">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row " class="documenttype "> Will Smith</th>
                                            <th scope="row ">will.smith@adstraflex.com</th>
                                            <th scope="row "><span class="badge badge-secondary">Admin</span></th>
                                            <th scope="row ">Administrators</th>
                                            <td class="actions"><a href="/userprofile.html"><i class="fas fa-search" style="color:#009abd"></i> View</a> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype "> Oliver Wolke</th>
                                            <th scope="row ">oliver.wolke@adstraflex.com</th>
                                            <th scope="row "><span class="badge badge-secondary">Basic</span></th>
                                            <th scope="row ">IT Group</th>
                                            <td class="actions"><a href="/userprofile.html"><i class="fas fa-search" style="color:#009abd"></i> View</a> </td>
                                        </tr>
                              
                                    </tbody>
                                </table>