<div class="row">
 <div class="col-lg-11">
    <h4 style="font-weight:bold">Based on Tag Keys, decide on the groups you wish to create</h4>
    <p>e.g Level 1: Department, Level 2: Location, Level 3: Environment</p>
    </div>
      <div class="col-lg-1">
        <p style="margin-top: 35px;">Step 2 of 3</p>
    </div>
        <div >
        <!--form starts here-->
    <div class="row">
        <form class="col-lg-6">

            <div class="form-inline">
                <div class="col-md-12 form-group" style="margin-top:15px" id="level1">
                    <label class="col-sm-2 col-form-label" style="margin-top: 5px;" for="Level1">Level 1</label>
                    <input type="text" class="form-control" name="Level1" id="Level1" >
                </div>
                <div class="col-md-12 form-group" style="margin-top:15px;display:none" id="level2">
                    <label class="col-sm-2 col-form-label" style="margin-top: 5px;" for="Level2">Level 2</label>
                    <input type="text" class="form-control" name="Level2" id="Level2" >
                </div>
                <div class="col-md-12 form-group" style="margin-top:15px;display:none" id="level3">
                    <label class="col-sm-2 col-form-label" style="margin-top: 5px;" for="Level3">Level 3</label>
                    <input type="text" class="form-control" name="Level3" id="Level3" >
                </div>
                 <div class="col-md-12 form-group" style="margin-top:15px;display:none" id="level4">
                    <label class="col-sm-2 col-form-label" style="margin-top: 5px;" for="Level4">Level 4</label>
                    <input type="text" class="form-control" name="Level4" id="Level4" >
                </div>
                  <div class="col-md-12 form-group" style="margin-top:15px;display:none" id="level5">
                    <label class="col-sm-2 col-form-label" style="margin-top: 5px;" for="Level5">Level 5</label>
                    <input type="text" class="form-control" name="Level5" id="Level5" >
                </div>
            </div>
              <div class="col-lg-6 col-md-6 form-group" style="margin-top:30px">
               <button type="submit" id="backpage1" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back</button>
                <button type="submit" id="page3" class="btn btn-primary pull-right"><i class="fa fa-arrow-circle-right"></i>Next</button>
            </div>

        </form>
        <div class="col-lg-6" >
        <h4> <i class="fas fa-key"></i> Most used Tag Keys</h4>
        <span></span>
        <ul style="list-style:none">
        <li>Department (200 Resources)</li>
        <li>Location (200 Resources)</li>
        <li>Team (150 Resources)</li>
        <li>bit_type (120 Resources)</li>
        <li>Office (100 Resources)</li>

        </ul>
        </div>
    </div>

        <!--form ends here-->
    </div>
    <!--col-6 ends here-->
    <div class="col-lg-6" >

   </div>

 {% include "_successgirl.html.njk" %}

</div>


