<!-- Onboarding -->
<div class="alert alert-info alert-dismissible" role="alert">
  <div class="row">
    <div class="col-md-1"><i class="far fa-file icon"></i></div>
    <div class="col-md-8">
      <h4>What exactly are chargebacks?</h4>
      <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute. Ad vegan excepteur butcher vice lomo. </p>
    </div>
    <div class="col-md-3"><button type="button" class="close f-r" data-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></button></div>
  </div>
</div>
