<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/cgm_pp_tiles.png" style="width: 100%; display: block;">
        </a>
    </div>
</div>