<div class="row">
  <div class="col-md-3">
    <div class="well-plain-sm">
      <h5 class="mb-5">Estimated Savings</h5>
      <h4>800,000 USD</h4>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well-plain-sm">
      <h5 class="mb-5">Estimated Savings</h5>
      <h4>800,000 USD</h4>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well-plain-sm">
      <h5 class="mb-5">Estimated Savings</h5>
      <h4>800,000 USD</h4>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well-plain-sm">
      <h5 class="mb-5">Estimated Savings</h5>
      <h4>800,000 USD</h4>
    </div>
  </div>
</div>
<div class="row mt-15">
  <div class="col-md-6">
    <div class="well-plain-sm">
      <h5>Cost by License Agreements</h5>
      <div class="pie bc-blue"></div>
      <div class="legend-section">
        <div class="legend bc-blue"></div><p class="f-l">Microsoft</p>
        <div class="legend bc-green ml-15"></div><p class="f-l">Adobe</p>
        <div class="legend bc-lightblue ml-15"></div><p class="f-l">AWS</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well-plain-sm">
      <h5>Cost by License Agreements</h5>
      <div class="pie bc-blue"></div>
      <div class="legend-section">
        <div class="legend bc-blue"></div><p class="f-l">Microsoft</p>
        <div class="legend bc-green ml-15"></div><p class="f-l">Adobe</p>
        <div class="legend bc-lightblue ml-15"></div><p class="f-l">AWS</p>
      </div>
    </div>
  </div>
</div>