<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="tile_1">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="" src="./images/tile/Group 4.png" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="tile_2">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="./images/tile/cloud_budget_manager_1.jpg" src="./images/tile/cloud_budget_manager_2.jpg" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" id="tile_3">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="./images/tile/cloud_consumption_200px_over_3.jpg" src="./images/tile/cloud_consumption_200px_4.jpg" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" id="tile_4">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="./images/tile/custom_group_manager_3.jpg" src="./images/tile/custom_group_manager_4.jpg" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
</div> {# end of first row #}
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-3" id="tile_5">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="" src="./images/tile/neg-178px.png" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-3" id="tile_6">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data="" data-alt-src="" src="./images/tile/Group 5.png" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-3" id="tile_7">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="./images/tile/tag_and_resource_1.jpg" src="./images/tile/tag_and_resource_2.jpg" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-3" id="tile_8">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="../images/tile/chargeback_1.jpg" src="../images/tile/chargeback_2.jpg" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
</div> {# end of first row #}
<div class="row">
    <div class="col-lg-4 col-md-4 col-xs-6" id="tile_9">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="./images/tile/custom_group_manager_1.jpg" src="./images/tile/custom_group_manager_2.jpg" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6" id="tile_10">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="./images/tile/cloud_consumption_416px_over_1.png" src="./images/tile/cloud_consumption_416px_2.jpg" style="width: 100%; height: 178px; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-3" id="tile_11">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" data-alt-src="" src="../images/tile/back.png" style="width: 100%; display: block;">
        </a>
    </div>
</div> {# end of first row #}