<div class="row">
    <div class="col-lg-4 col-md-4 col-xs-6" id="tile_1">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/tile/Group 4.png" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6" id="tile_2">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/tile/cloud_budget_manager_2.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-3" id="tile_3">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="../images/tile/cloud_consumption_off_365_200px.png" style="width: 100%; height: 186px; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-3" id="tile_3">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="../images/tile/cloud_consumption_off_365_200px.png" style="width: 100%; height: 185px; display: block;">
        </a>
    </div>
</div> {# end of first row #}
<div class="row">
    <div class="col-lg-4 col-md-4 col-xs-6" id="tile_1">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/tile/Group 4.png" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6" id="tile_2">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/tile/cloud_budget_manager_2.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-3" id="tile_3">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="../images/tile/cloud_consumption_off_365_200px.png" style="width: 100%; height: 186px; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-3" id="tile_3">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="../images/tile/cloud_consumption_off_365_200px.png" style="width: 100%; height: 185px; display: block;">
        </a>
    </div>
</div> {# end of first row #}
<div class="row">
    <div class="col-lg-4 col-md-4 col-xs-6" id="tile_1">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/tile/Group 4.png" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6" id="tile_2">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/tile/cloud_budget_manager_2.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-3" id="tile_3">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="../images/tile/cloud_consumption_off_365_200px.png" style="width: 100%; height: 186px; display: block;">
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-3" id="tile_3">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="../images/tile/cloud_consumption_off_365_200px.png" style="width: 100%; height: 185px; display: block;">
        </a>
    </div>
</div> {# end of first row #}