<h2>Templates</h2>
<hr>
<h3>Create</h3>
<hr>
<a type="button" class="btn btn-default mr-15 mb-30" href="template_add_new.html">template_add_new</a>
<a type="button" class="btn btn-default mr-15 mb-30" href="template_wizard.html">template_wizard</a>
<a type="button" class="btn btn-default mr-15 mb-30" href="template_stepper.html">template_stepper</a>
<h3>Read</h3>
<hr>
<a type="button" class="btn btn-default mr-15 mb-30" href="template_grid.html">template_grid</a>
<a type="button" class="btn btn-default mr-15 mb-30" href="template_details.html">template_details</a>
<a type="button" class="btn btn-default mr-15 mb-30" href="template_document.html">template_document</a>
<h2>Typography</h2>
<hr>
<h4>Styles</h4>
<hr>
<p>This is a regular text.</p>
<p><strong>This is a medium text.</strong></p>
<p><em>This is a regular italic text.</em></p>
<br>
<h4>Heading styles</h4>
<hr>
<h1>h1. heading <small>h1. Secondary text</small></h1>
<h2>h2. heading <small>h2. Secondary text</small></h2>
<h3>h3. heading <small>h3. Secondary text</small></h3>
<h4>h4. heading <small>h4. Secondary text</small></h4>
<h5>h5. heading <small>h5. Secondary text</small></h5>
<h6>h6. heading <small>h6. Secondary text</small></h6>
<br>
<h4>Layout</h4>
<hr>
<h5>Columns</h5>
<hr>
<pre>
<code class="language-html" data-lang="html">
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-12"</span><span class="nt">&gt;</span>12 columns<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>6 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>6 columns<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>4 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>4 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>4 columns<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3"</span><span class="nt">&gt;</span>3 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3"</span><span class="nt">&gt;</span>3 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3"</span><span class="nt">&gt;</span>3 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3"</span><span class="nt">&gt;</span>3 columns<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>2 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>2 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>2 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>2 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>2 columns<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-2"</span><span class="nt">&gt;</span>2 columns<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code>
</pre>
<br>
<h5>Well</h5>
<hr>
<div class="well">class="well"</div>
<div class="well-plain mt-15">class="well-plain"</div>
<div class="well-dark mt-15">class="well-dark"</div>
<div class="well-outline mt-15">class="well-outline"</div>
<br>
<h4>Spacing</h4>
<hr>
<p>Use 0px, 5px, 15px or 30px for adding padding or margins to elements. These can be applied using the classes:</p>
<br>
<h5>Margin</h5>
<hr>
<pre>
<code class="language-html" data-lang="html">
margin: class="m-0", class="m-5", class="m-15", class="m-30"<br>
margin-top: class="mt-0", class="mt-5", class="mt-15", class="mt-30"<br>
margin-right: class="pr-0", class="mr-5", class="mr-15", class="mr-30"<br>
margin-bottom: class="pb-0", class="mb-5", class="mb-15", class="mb-30"<br>
margin-left: class="pl-0", class="ml-5", class="ml-15", class="ml-30"
</code>
</pre>
<br>
<h5>Padding</h5>
<hr>
<pre>
<code class="language-html" data-lang="html">
padding: class="p-0", class="p-5", class="p-15", class="p-30"<br>
padding-top: class="pt-0", class="pt-5", class="pt-15", class="pt-30"<br>
padding-right: class="pr-0", class="pr-5", class="pr-15", class="pr-30"<br>
padding-bottom: class="pb-0", class="pb-5", class="pb-15", class="pb-30"<br>
padding-left: class="pl-0", class="pl-5", class="pl-15", class="pl-30"
</code>
</pre>
<br>
<h5>Alignment</h5>
<hr>
<pre>
<code class="language-html" data-lang="html">
text-align: class="ta-r", class="ta-l", class="ta-rc"<br>
float: class="f-r", class="f-l"
</code>
</pre>
<br>
<h5>Width</h5>
<hr>
<pre>
<code class="language-html" data-lang="html">
width(px): class="w-15px", class="w-30px", class="w-60px", class="w-90px", class="w-120px"<br>
width(%): class="w-10", class="w-25", class="w-50", class="w-75", class="w-100"
</code>
</pre>
<br>
<h2>Components</h2>
<hr>
<h4>Buttons</h4>
<hr>
<button type="button" class="btn btn-primary mr-15">Primary</button>
<button type="button" class="btn btn-default mr-15">Default</button>
<button type="button" class="btn btn-danger mr-15">Danger</button>
<button type="button" class="btn btn-outline mr-15">Outline</button>
<div class="btn-group btn-grouped btn-group-toggle mr-15" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
  </label>
</div>
<button type="button" class="btn btn-default mr-15" disabled>Disabled</button>
<button type="button" class="btn btn-link mr-15">Link</button>
<button type="button" class="btn btn-link-action">Action</button>
<div class="dropdown mt-15">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="far fa-copy"></i> Primary Action</a>
    <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="far fa-copy"></i> Primary Action</a></li>
    <li><a href="#"><i class="fas fa-edit"></i> Edit</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><i class="far fa-trash-alt"></i> Delete<p class="explainer-text">Some example text that's free-flowing <br>within the dropdown menu.</p></a></li>
  </ul>
</div>
<div class="dropdown mt-15">
  <button class="btn btn-outline dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-paperclip"></i> excel_of_important_things.csv </a>
    <i class="fas fa-caret-down ml-5"></i></button>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fas fa-download"></i> Download</a></li>
  </ul>
</div>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
  <li><a href="#">Regular link</a></li>
  <li class="disabled"><a href="#">Disabled link</a></li>
  <li><a href="#">Another link</a></li>
</ul>

<h4 class="mt-30">Forms</h4>
<hr>
{% include "partials/_form.html.njk" %}

<h4 class="mt-30">Search Boxes</h4>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="input-group mb-15">
      <div class="input-group-btn">
        <button type="button" class="btn btn-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">All</a></li>
          <li><a href="#">AWS</a></li>
          <li><a href="#">Azure</a></li>
        </ul>
      </div>
      <input type="text" class="form-control" aria-label=".." class="form-control">
    </div>
  </div>
</div>
<br><br><br>
<h4 class="mt-30">Advanced Search</h4>
<hr>
{% include "partials/_search.html.njk" %}

<h4 class="mt-30">Navigation</h4>
<hr>
<!-- Primary Tabs - Secondary are in the template_grid file -->
<div class="primary-tabs mb-15">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#tab1"><i class="far fa-file"></i> Tab</a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab2"><i class="far fa-file"></i> Tab</a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab3"><i class="far fa-file"></i> Tab</a></li>
  </ul>
</div>

<div class="tab-content mt-15">
    <div id="tab1" class="tab-pane fade in active">
        <!-- Secondary Tabs -->
        <div class="secondary-tabs mb-15">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#subtab1"><i class="far fa-file"></i> Tab</a></li>
            <li role="presentation"><a data-toggle="tab" href="#subtab2"><i class="far fa-file"></i> Tab</a></li>
            <li role="presentation"><a data-toggle="tab" href="#subtab3"><i class="far fa-file"></i> Tab</a></li>
        </ul>
        </div>
        <div class="tab-content mt-15">
          <div id="subtab1" class="tab-pane fade in active">
              <h3>Tab 2</h3>
              <p>Some content.</p>
          </div>
          <div id="subtab2" class="tab-pane fade">
              <h3>Tab 2</h3>
              <p>Some content.</p>
          </div>
          <div id="subtab3" class="tab-pane fade">
              <h3>Tab 3</h3>
              <p>Some content.</p>
          </div>
        </div>
    </div>
    <div id="tab2" class="tab-pane fade">
        <h3>Tab 2</h3>
        <p>Some content.</p>
    </div>
    <div id="tab3" class="tab-pane fade">
        <h3>Tab 3</h3>
        <p>Some content.</p>
    </div>
</div>

<h4 class="mt-30">Tiles</h4>
<hr>
<h5 class="mt-30">Navigational</h5>
<hr>
<!-- Square tiles -->
<div class="row">
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-positive">
      <h4 class="mb-5">Navigation Links</h4>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-cube"></i> Resource Manager</button><br>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-sitemap"></i> Custom Group Manager</button><br>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-cube"></i> Resource Manager</button><br>
    </div>
  </div>
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-negative">
      <i class="fas fa-cube module-icon"></i>
      <h4 class="">Resource Manager</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
</div>
<h5 class="mt-30">Counter</h5>
<hr>

<!-- Counter Tiles -->
{% include "partials/_tiles.html.njk" %}

<h5 class="mt-30">Icons</h5>
<hr>
<div class="row">
  <div class="col-md-2">
    <p><i class="fas fa-check-circle"></i> Complete </p>
    <p><i class="fas fa-exclamation-circle"></i> Incomplete</p>
    <p><i class="fas fa-exclamation-triangle"></i> Error</p>
    <p><i class="fas fa-minus-circle"></i> Inactive</p>
  </div>
  <div class="col-md-2">
    <a class="bt btn-link"><i class="fas fa-plus-circle"></i> Add New</a><br>
    <a class="bt btn-link"><i class="fas fa-pencil-alt"></i> Edit</a><br>
    <a class="bt btn-link"><i class="fas fa-wrench"></i> Manage</a><br>
    <a class="bt btn-link"><i class="far fa-trash-alt"></i> Delete</a><br>
    <a class="bt btn-link"><i class="fas fa-sync-alt"></i> Sync</a><br>
    <a class="bt btn-link"><i class="fas fa-save"></i> Save</a><br>
    <a class="bt btn-link"><i class="fas fa-times"></i> Cancel</a>
  </div>
</div>
<h4 class="mt-30">Grid</h4>
<hr>
{% include "partials/_grid.html.njk" %}

<h4 class="mt-30">Javascript</h4>
<hr>
<p>Navigate to new page</p>
<div class="well">
  <p class="mb-0">onclick="location.href = 'index.html';"</p>
</div>
<p class="mt-15">Hide/Show by ID on click</p>
<div class="well">
  <p class="mb-0"> $( "#id" ).click(function() {<br>
    &nbsp;&nbsp;&nbsp;$('#id').show();<br>
    &nbsp;&nbsp;&nbsp;$('#id').hide();<br>
    });
  </p>
</div>
<br>
<h4 class="mt-30">Panel</h4>
<hr>
{% include "partials/_panel.html.njk" %}

<h4 class="mt-30">Accordian</h4>
<hr>
{% include "partials/_accordian.html.njk" %}
<br>
{% include "partials/_accordian_white.html.njk" %}

<h4 class="mt-30">Onboarding</h4>
<hr>
{% include "partials/_alerts.html.njk" %}

<!-- Danger -->
<div class="alert alert-danger alert-dismissible" role="alert">
  <div class="row">
    <div class="col-md-9">
      <i class="fas fa-exclamation-triangle"></i><strong> Well this is embarrassing…</strong><br>
      <p class="mb-5 mt-5">Sorry, this is not working properly. We now know about this mistake and are working to fix it.<br>In the meantime, here is what you can do: </p>
      <ul>
      <li><i class="fas fa-sync-alt"></i> Refresh the page</li>
      <li><i class="far fa-clock"></i> Try again in 30 minutes</li>
      <li><i class="far fa-envelope"></i> Contact SoftwareOne</li>
      </ul>
    </div>
    <div class="col-md-3"><button type="button" class="close f-r" data-dismiss="alert" aria-label="Close"><i class="fas fa-times icon"></i></button></div>
  </div>
</div>

<!-- Warning -->
<div class="alert alert-warning alert-dismissible" role="alert">
  <div class="row">
    <div class="col-md-10">
      <p><i class="fas fa-exclamation-circle"></i><strong> We’re really sorry!</strong> We could not find the latest data. You can continue working, or if you need the most recent data, you can try coming back later.  </p>
    </div>
    <div class="col-md-2"><button type="button" class="close f-r" data-dismiss="alert" aria-label="Close"><i class="fas fa-times icon"></i></button></div>
  </div>
</div>

<!-- success -->
<div class="alert alert-success alert-dismissible" role="alert">
  <div class="row">
    <div class="col-md-9">
      <p><i class="fas fa-check-circle"></i><strong> Horray!</strong> We found the latest data. <a class="btn btn-link"><i class="fas fa-sync-alt"></i> Refresh the page</a></p>
    </div>
    <div class="col-md-3"><button type="button" class="close f-r" data-dismiss="alert" aria-label="Close"><i class="fas fa-times icon"></i></button></div>
  </div>
</div>

<!-- Info -->
<div class="alert alert-inform alert-dismissible" role="alert">
  <div class="row">
    <div class="col-md-9">
      <p><i class="fas fa-info-circle"></i><strong> The data shown may not be the most recent.</strong> We will keep looking for the latest data and inform you when we find it. </p>
    </div>
    <div class="col-md-3"><button type="button" class="close f-r" data-dismiss="alert" aria-label="Close"><i class="fas fa-times icon"></i></button></div>
  </div>
</div>

<h4 class="mt-30">Empty State</h4>
<hr>
{% include "partials/_empty_state.html.njk" %}

<h4 class="mt-30">Stepper</h4>
<hr>
{% include "partials/_stepper.html.njk" %}

<h4 class="mt-30">Modal</h4>
<hr>
<p class="mb-15">Trigger the modal with a button by adding:</p>
<div class="well">
  <p class="mb-0">data-toggle="modal" data-target="#myModal"</button></p>
</div>
<br>
<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <p class="modal-title">Delete Budget</p>
  </div>
  <div class="modal-body">
    <p>You have selected to request permission to Resource Manager.<br><br>Your administrator will be sent a permission request for this application. We will notify you when your access is granted.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default f-r" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
    <button class="btn btn-primary f-r mr-15"><i class="far fa-trash-alt"></i> Delete Budget</button><br>
  </div>
</div>
<h4 class="mt-30">Account Team</h4>
<hr>
{% include "partials/_account_team.html.njk" %}
{% include "partials/_modal.html.njk" %}