<!-- Document -->
<div class="row">
  <div class="col-md-9">
    <div class="well-plain document">
      <div class="row mb-30">
        <div class="col-md-12"><h4>Document Number: 78291821821382321</h4>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col-md-4">Contact Details
          <hr class="mb-15">
          <p>Will Smith<br>8B Block<br>Coporate Park</p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <p class="ta-r">Document Date: 01/01/2019<br>Customer Number: 8298121989</p>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col-md-4">Contact Details
          <hr class="mb-15">
          <p>Will Smith<br>8B Block<br>Coporate Park</p>
        </div>
        <div class="col-md-4">Contact Details
          <hr class="mb-15">
          <p>Will Smith<br>8B Block<br>Coporate Park</p>
        </div>
        <div class="col-md-4">Contact Details
          <hr class="mb-15">
          <p>Will Smith<br>8B Block<br>Coporate Park</p>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col-md-12">
          <!-- Toolbar-->
          <div class="row">
            <div class="col-md-12">
              <div class="table-toolbar">
                <div class="f-r">
                  <p>1-10 <strong>of</strong> 110 items <span class="seperator">|</span> Show
                    <span class="show-count">10</span> <span class="seperator">|</span>
                    <button class="btn-link-action"><i class="fas fa-cogs"></i> Customize</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Table-->
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Qty</th>
                  <th>Amount</th>
                  <th>Currency</th>
                  <th class="ta-c">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr onclick="#">
                  <th scope="row">Microsoft</th>
                  <td class="ta-r">10</td>
                  <td class="ta-r">13.90</td>
                  <td>USD</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">AWS</th>
                  <td class="ta-r">460</td>
                  <td class="ta-r">3,000.00</td>
                  <td>GBP</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">Azure</th>
                  <td class="ta-r">200</td>
                  <td class="ta-r">890.80</td>
                  <td>EUR</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">Microsoft</th>
                  <td class="ta-r">10</td>
                  <td class="ta-r">13.90</td>
                  <td>USD</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">AWS</th>
                  <td class="ta-r">460</td>
                  <td class="ta-r">3,000.00</td>
                  <td>GBP</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">Azure</th>
                  <td class="ta-r">200</td>
                  <td class="ta-r">890.80</td>
                  <td>EUR</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">Microsoft</th>
                  <td class="ta-r">10</td>
                  <td class="ta-r">13.90</td>
                  <td>USD</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">AWS</th>
                  <td class="ta-r">460</td>
                  <td class="ta-r">3,000.00</td>
                  <td>GBP</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">Azure</th>
                  <td class="ta-r">200</td>
                  <td class="ta-r">890.80</td>
                  <td>EUR</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
                <tr onclick="#">
                  <th scope="row">Azure</th>
                  <td class="ta-r">200</td>
                  <td class="ta-r">890.80</td>
                  <td>EUR</td>
                  <td class="ta-c"><button type="button" class="btn btn-link-action" onclick="#"><i class="fas fa-pencil-alt"></i> Edit</button><span class="seperator">|</span><button type="button" class="btn btn-link-action" data-toggle="modal" data-target="#myModal"><i class="far fa-trash-alt"></i> Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Pager-->
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous" class="inactive">
                  <i class="fas fa-fast-backward"></i>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Previous" class="inactive">
                  <i class="fas fa-step-backward"></i>
                </a>
              </li>
              <li><a href="#" class="active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <i class="fas fa-step-forward"></i>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Next">
                  <i class="fas fa-fast-forward"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <h4>Actions</h4>
      <button type="button" class="btn btn-primary mb-15 mt-15 w-100 ">Primary</button>
      <button type="button" class="btn btn-default mb-15 w-100">Secondary</button>
      <hr class="mt-0 mb-15">
      <button type="button" class="btn btn-link">Link</button>
      <br>
      <button type="button" class="btn btn-link">Link</button>
    </div>
  </div>
</div>