<!-- Empty State -->
<div class="empty-state">
  <div class="row">
    <div class="col-md-12 ta-c">
      <h2 class="mb-0"><small class="lonely-text">It's so lonely in here!</h2>
      <h2><small>Your shopping cart is empty.</small></h2>
      <i class="fas fa-shopping-cart icon"></i><br>
      <button type="button" class="btn btn-primary"><i class="fas fa-search"></i> Search Products</button>
    </div>
  </div>
</div>