<!-- Disclaimer -->
<div class="required mb-30">* Required fields</div>

<!-- Basic -->
<label for="basic-url mb-15"><span class="required">*</span> Title</label>
<div class="input-group mb-15 w-50">
  <input type="text" class="form-control" aria-describedby="basic-addon1">
</div>

<!-- Textarea -->
<div class="form-group w-50">
  <label for="comment"><span class="required">*</span> Description</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Type your description here..."></textarea>
</div>

<!-- Username -->
<label for="basic-url mb-15">Username</label>
<div class="input-group mb-15 w-25">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" aria-describedby="basic-addon1">
</div>

<!-- Amount -->
<label for="basic-url mb-15">Amount</label>
<div class="input-group mb-15 w-120px">
  <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">USD</span>
</div>

<!-- Url -->
<label for="basic-url mb-15">URL</label>
<div class="input-group w-50 mb-15">
  <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<!-- Telephone -->
<label for="basic-url mb-30">Phone Number</label>
<div class="input-group mb-15 w-25">
  <div class="input-group-btn">
    <button type="button" class="btn btn-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ireland (+353) <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">+353</a></li>
      <li><a href="#">+44</a></li>
      <li><a href="#">+??</a></li>
    </ul>
  </div>
  <input type="text" class="form-control" aria-label=".." class="form-control" value="870900446">
</div>

<!-- Toggle  -->
<div class="mt-30 mb-15">
  <label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
  </label>
  <span class="ml-5" style="margin-top: 2px;position: absolute;">Active</span>
</div>

<!-- Radio Large -->
<label for="basic-url">Radio Boxes</label>
<div class="row radio-boxes">
  <div class="col-md-3">
    <div class="well-plain">
      <div class="radio">
      <label><input type="radio" name="optradio">Option 2</label>
      <p>Explain what this option does so it is clear to the user.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well-plain selected">
      <div class="radio">
      <label><input type="radio" name="optradio" checked>Selected Option 2</label>
      <p>Explain what this option does so it is clear to the user.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well-plain">
      <div class="radio">
      <label><input type="radio" name="optradio">Option 2</label>
      <p>Explain what this option does so it is clear to the user.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well-plain">
      <div class="radio">
      <label><input type="radio" name="optradio">Option 2</label>
      <p>Explain what this option does so it is clear to the user.</p>
      </div>
    </div>
  </div>
</div>

<!-- Provider -->
<div class="form-group w-25 mt-15">
  <label for="sel1">Provider</label>
  <select class="form-control" id="sel1" placeholder="-Any-">
    <option selected value="" class="placeholder">-Any-</option>
    <option value="1">AWS</option>
    <option value="2">Azure</option>
    <option value="3">Office 365</option>
  </select>
</div>

<!-- Attachments -->
<div class="form-group w-25 mb-30">
  <label for="exampleInputFile">Attachments</label>
  <div class="upload-files">
    <button type="button" class="btn btn-primary"><i class="fas fa-upload"></i> Select Files...</button>
  </div>
  <h6>Maxiumum upload size is 6GB<h6>
</div>

<!-- Button -->
<button type="button" class="btn btn-primary mr-15"><i class="fas fa-plus-circle"></i> Add New Item</button>
<button type="button" class="btn btn-default"><i class="fas fa-times"></i> Cancel</button>