<div class="input-group gobal-search f-r">
    <div class="input-group-btn">
        <button type="button" class="btn btn-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transactions <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Transactions</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services and Solutions</a></li>
        </ul>
    </div>
    <input type="text" class="form-control" aria-label=".." class="form-control" placeholder="Search by Document Number, PO Number or Reference">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
    </span>
</div>