<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-6" id="tile_1">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/13.1 Template/IT_Manager Copy 91.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6" id="tile_2">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/13.1 Template/IT_Manager Copy 92.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6" id="tile_3">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/13.1 Template/IT_Manager Copy 93.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6" id="tile_4">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/13.1 Template/IT_Manager Copy 94.jpg" style="width: 100%; display: block;">
        </a>
    </div>
</div> {# end of first row #}
<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-6" id="tile_5">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/13.1 Template/IT_Manager Copy 95.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6" id="tile_6">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/13.1 Template/IT_Manager Copy 96.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6" id="tile_7">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/13.1 Template/IT_Manager Copy 97.jpg" style="width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6" id="tile_8">
        <a href="#" class="place_holder">
            <img alt="placeholder-image" src="./images/13.1 Template/IT_Manager Copy 98.jpg" style="width: 100%; display: block;">
        </a>
    </div>
</div>
