<!-- Expandable Panel -->
<div class="panel panel-default">
  <div class="panel-heading"><h5><strong>Microsoft Office 365 Enterprise E3</strong></h5><button class="btn btn-link panel-action"><i class="fas fa-pencil-alt"></i> Edit</a></button>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-15">
          <p class="label">Name</p>
          <p>Microsoft Office 365 Enterprise E3</p>
        </div>
        <div>
          <p class="label">Description</p>
          <p>Apply flexible out-of-the-box encryption policies like Encrypt Only and Do Not Forward, and read protected messages in Outlook while messages sent to non-Office 365 users can be read using Google, Yahoo or a Microsoft identity. Plus, control your encryption keys in Azure Key Vault.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-15">
          <p class="label">Qty</p>
          <p>10</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-15">
          <p class="label">Amount</p>
          <p>98.80 USD</p>
        </div>
      </div>
    </div>
    <div class="row mt-15">
      <div class="col-md-12">
        <button type="button" class="btn btn-link" id="panel-show-more"><i class="fas fa-chevron-right"></i> Show more</button>
        <button type="button" class="btn btn-link" id="panel-show-less" style="display: none;"><i class="fas fa-chevron-down"></i> Show less</button>
      </div>
    </div>
    <div class="row expanded-section" id="expanded-section" hidden>
      <div class="col-md-6">
        <div class="mb-15">
          <p class="label">Name</p>
          <p>Micrisoft Office 365 Enterprise E3</p>
        </div>
        <div>
          <p class="label">Description</p>
          <p>Apply flexible out-of-the-box encryption policies like Encrypt Only and Do Not Forward, and read protected messages in Outlook while messages sent to non-Office 365 users can be read using Google, Yahoo or a Microsoft identity. Plus, control your encryption keys in Azure Key Vault.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-15">
          <p class="label">Qty</p>
          <p>10</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-15">
          <p class="label">Amount</p>
          <p>98.80 USD</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit In Place -->
<div class="panel panel-default" hidden>
  <div class="panel-heading"><h5><strong>Microsoft Office 365 Enterprise E3</strong></h5>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <label for="basic-url mb-15">Email</label>
        <div class="input-group mb-15 w-100">
          <input type="text" class="form-control" value="Microsoft Office 365 Enterprise E3" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
          <label for="comment">Description</label>
          <textarea class="form-control" rows="4" id="comment" placeholder="Type your comment here...">Apply flexible out-of-the-box encryption policies like Encrypt Only and Do Not Forward, and read protected messages in Outlook while messages sent to non-Office 365 users can be read using Google, Yahoo or a Microsoft identity. Plus, control your encryption keys in Azure Key Vault.
            </textarea>
        </div>
      </div>
      <div class="col-md-3">
        <label for="basic-url mb-15">Qty</label>
        <div class="input-group mb-15 w-50">
          <input type="number" class="form-control" value="10" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-3">
        <label for="basic-url mb-15">Amount</label>
        <div class="input-group mb-15 w-50">
          <input type="text" class="form-control" value="98.80" placeholder="0.00" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">USD</span>
        </div>
      </div>
    </div>
    <div class="row mt-15">
      <div class="col-md-12">
        <button type="button" class="btn btn-default f-r"><i class="fas fa-times"></i> Cancel</button>
        <button type="button" class="btn btn-primary mr-15 f-r"><i class="fas fa-save"></i> Save</button>
      </div>
    </div>
  </div>
</div>