<!-- Three Steps -->
<div class="row mb-30" hidden>
  <div class="col-md-2"><button type="button" class="btn btn-default"><i class="fas fa-arrow-circle-left"></i> Previous Step</button></div>
  <div class="col-md-8">
    <div class="stepper-component stepThree">
      <div class="stepper stepper-circles">
        <div class="circle complete"><p>1</p></div>
        <div class="line complete"></div>
        <div class="circle inprogress"><p>2</p></div>
        <div class="line"></div>
        <div class="circle"><p>3</p></div>
      </div>
      <div class="stepper-labels">
          <span class="label labelOne inactive">Document Details</span>
          <span class="label labelTwo">Line Items</span>
          <span class="label labelThree inactive">Review</span>
      </div>
    </div>
  </div>
  <div class="col-md-2"><button type="button" class="btn btn-primary f-r"><i class="fas fa-arrow-circle-right"></i> Next Step</button></div>
</div>

<!-- Four Steps -->
<div class="row mb-30">
  <div class="col-md-2"><button type="button" class="btn btn-default"><i class="fas fa-arrow-circle-left"></i> Previous Step</button></div>
  <div class="col-md-8">
    <div class="stepper-component stepFour">
      <div class="stepper stepper-circles">
        <div class="circle complete"><p>1</p></div>
        <div class="line w-25 complete"></div>
        <div class="circle inprogress"><p>2</p></div>
        <div class="line"></div>
        <div class="circle"><p>3</p></div>
        <div class="line"></div>
        <div class="circle"><p>4</p></div>
      </div>
      <div class="stepper-labels">
          <span class="label labelOne inactive">Document Details</span>
          <span class="label labelTwo inactive">Line Items</span>
          <span class="label labelThree">Prices</span>
          <span class="label labelFour inactive">Review</span>
      </div>
    </div>
  </div>
  <div class="col-md-2"><button type="button" class="btn btn-primary f-r"><i class="fas fa-arrow-circle-right"></i> Next Step</button></div>
</div>