
                 <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Group</th>
                                            <th scope="col" class="actions1  col-md-2" style="display:none;text-align: center;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row col-md-12" class="documenttype "> 
                                            <a class="adddept"> <i class="fas fa-plus" style="color:#009abd;"></i> Add Department</a>
                                              <!--hidden form starts-->
                                              <div class="form-inline" id="level1" style="display:none">
                                                <div class="col-md-12 form-group" >
                                                    <input type="text" class="form-control" name="Level1" id="" >
                                                     <button type="submit" id="level1save" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                                                     <button type="submit" id="" class="btn btn-default"><i class="fa fa-close" style="color:#009abd;"></i> Cancel</button>
                                                </div>
                                             </div>
                                            <!--hidden form end-->
                                             <span style="display:none" id="level1finance"><i class="fas fa-square" style="color:#009abd;" ></i> Finance </span> <button style="display:none" class="btn btn-primary add-loc">Add Location</button>
                                            </th>
                                            <td class="actions1" style="display:none;text-align: center;"><a href="#"><i class="fas fa-search" style="color:#009abd"></i> View</a>&nbsp;| &nbsp;<a href="# "><i class="fas fa-trash-alt" style="color:#009abd"></i> Delete</a></td>
                                        </tr>
                                        <tr>
                                        <th scope="row col-md-12" class="documenttype "> 
                                              <a class="addlocation"> &nbsp;&nbsp;&nbsp;<i class="fas fa-plus" style="color:#009abd;"></i> Add Location</a>
                                              <!--hidden form starts-->
                                              <div class="form-inline" id="level2" style="display:none">
                                                <div class="col-md-12 form-group" >
                                                    <input type="text" class="form-control" name="level2" id="" >
                                                     <button type="submit" id="level2save" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                                                     <button type="submit" id="" class="btn btn-default"><i class="fa fa-close" style="color:#009abd;"></i> Cancel</button>
                                                </div>
                                             </div>
                                            <!--hidden form end-->
                                             <span style="display:none" id="level2krakow">&nbsp;&nbsp;&nbsp;<i class="fas fa-square" style="color:lilac" ></i> Krakow</span>
                                        </th>
                                        <td class="actions2" style="display:none;text-align: center;"><span ><a href="#"><i class="fas fa-search"  style="color:#009abd"></i> View</a>&nbsp;| &nbsp;<a href="# "><i class="fas fa-trash-alt" style="color:#009abd"></i> Delete</a></span></td>
                                        </tr>
                                         <tr>
                                         <th scope="row col-md-12" class="documenttype "> 
                                          <a class="addteam"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus" style="color:#009abd;"></i> Add Team</a>
                                              <!--hidden form starts-->
                                              <div class="form-inline" id="level3" style="display:none">
                                                <div class="col-md-12 form-group" >
                                                    <input type="text" class="form-control" name="level3" id="" >
                                                     <button type="submit" id="level3save" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                                                     <button type="submit" id="" class="btn btn-default"><i class="fa fa-close" style="color:#009abd;"></i> Cancel</button>
                                                </div>
                                             </div>
                                            <!--hidden form end-->
                                             <span style="display:none" id="level3ursus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-square" style="color:purple;" ></i> Ursus</span>  
                                            </th>
                                            <td class="actions3" style="display:none;text-align: center;"><span><a href="#"><i class="fas fa-search" style="color:#009abd"></i> View</a>&nbsp;| &nbsp;<a href="# "><i class="fas fa-trash-alt" style="color:#009abd"></i> Delete</a></span></td>
                                        </tr>
                                       
                                    </tbody>
                 </table>