<div class="row">

                    </div>      
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Permission</th>
                                            <th scope="col" class="actions ">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row " class="documenttype "> Create a Tag</th>
                                            <td class="actions"><a href="/group.html"> Enable</a> </td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype ">Delete a Tag</th>
                                            <td class="actions"><a href="/group.html"> Disable</a> </td>
                                        </tr>
                              
                                    </tbody>
                                </table>