<!-- Primary Tabs - Secondary are in the template_grid file -->
<div class="primary-tabs mb-15">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#tab1"><i class="far fa-file"></i> Documents</a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab2"><i class="fas fa-upload"></i> Uploads</a></li>
    <li role="presentation"><a data-toggle="tab" href="#tab3"><i class="fas fa-history"></i> Timeline</a></li>
  </ul>
</div>

<div class="tab-content mb-15">
  <div id="tab1" class="tab-pane fade in active">
    <!-- Secondary Tabs -->
    <div class="secondary-tabs mb-15">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" href="#subtab1"><i class="far fa-file"></i> Tab</a></li>
        <li role="presentation"><a data-toggle="tab" href="#subtab2"><i class="far fa-file"></i> Tab</a></li>
        <li role="presentation"><a data-toggle="tab" href="#subtab3"><i class="far fa-file"></i> Tab</a></li>
      </ul>
    </div>
    <div class="tab-content mb-15">
      <div id="subtab1" class="tab-pane fade in active">
        <!-- Add content here -->
        {% include "partials/_search.html.njk" %}
        {% include "partials/_grid.html.njk" %}
        {% include "partials/_modal.html.njk" %}
        {% include "partials/_account_team.html.njk" %}
      </div>
      <div id="subtab2" class="tab-pane fade">
        <h3>Tab 2</h3>
        <p>Some content.</p>
      </div>
      <div id="subtab3" class="tab-pane fade">
        <h3>Tab 3</h3>
        <p>Some content.</p>
      </div>
    </div>
  </div>

  <div id="tab2" class="tab-pane fade">
    <h4 class="mt-30 mb-30">_empty_state.html.njk</h4> 
    {% include "partials/_empty_state.html.njk" %}
  </div>

  <div id="tab3" class="tab-pane fade">
    <h4 class="mt-30 mb-30">_timeline.html.njk</h4> 
    {% include "partials/_timeline.html.njk" %}
  </div>

</div>
