            <p class="grid-actions">1-8 of 8 items | Show <span id="show">10 <i class="fas fa-sort-down "></i></span> | <i class="fas fa-cog"></i> Customize</p>
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Provider</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Currency</th>
                                            <th scope="col">Budget Overview</th>
                                            <th scope="col">Predicted</th>
                                            <th scope="col" class="actions ">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row " class="documenttype ">AWS Test</th>
                                            <th scope="row ">AWS</th>
                                            <td><i class="fas fa-circle "></i> Active</td>
                                            <th scope="row ">03/01/2016</th>
                                            <th scope="row ">05/29/2019</th>
                                            <td>USD</td>
                                            <td style="text-align: right; ">20,000 of 52,000</td>
                                            <td style="text-align: right;">30,000</td>
                                            <td class="actions"><a href="#"><i class="fas fa-search"></i> View</a> &nbsp;| &nbsp; <a href="# "><i class="fas fa-ellipsis-h"></i></a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row " class="documenttype ">   My Budget 2</th>
                                            <th scope="row ">AWS</th>
                                            <td><i class="fas fa-circle"></i> Active</td>
                                            <th scope="row ">03/01//2016</th>
                                            <th scope="row ">12/31/2018</th>
                                            <td>USD</td>
                                            <td style="text-align: right;">20,000 of 50,000</td>
                                            <td style="text-align: right;">30,000</td>
                                            <td class="actions "><a href="#"><i class="fas fa-search"></i> View</a> &nbsp;| &nbsp; <a href="#"><i class="fas fa-ellipsis-h "></i></a></td>
                                        </tr>
                                        
                                        
                                                  
                                      
                                    </tbody>
                                </table>