<!-- Navigational -->
<div class="row" hidden>
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-positive">
      <h4 class="mb-5">Navigation Links</h4>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-cube"></i> Resource Manager</button><br>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-sitemap"></i> Custom Group Manager</button><br>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-cube"></i> Resource Manager</button><br>
    </div>
  </div>
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-negative">
      <i class="fas fa-cube module-icon"></i>
      <h4 class="">Resource Manager</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-4 well-upselling">
    
  </div>
</div>

<!-- Counter -->
<div class="row mb-30">
  <div class="col-md-2">
    <button type="button" class="btn btn-counter-neutral">
      <h6>Open Invoices</h6>
      <h4 class=""><i class="far fa-file"></i> 10</h4>
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-counter-success">
      <h6>Open Invoices</h6>
      <h4 class=""><i class="fas fa-check-circle"></i> 0</h4>
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-counter-warning">
      <h6>Open Invoices</h6>
      <h4 class=""><i class="far fa-file"></i> 10</h4>
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-counter-danger">
      <h6>Open Invoices</h6>
      <h4 class=""><i class="far fa-file"></i> 10</h4>
    </button>
  </div>
</div>
