
<div class="row pl-15">
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-negative">
      <i class="fas fa-search module-icon"></i>
      <h4 class="">Products and Services</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-negative">
      <i class="far fa-heart module-icon"></i>
      <h4 class="">Product Favorites</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" hidden>
    <div class="nav-tile-positive">
      <i class="far fa-file module-icon"></i>
      <h4 class="">Shipments</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Transactions In Progress</h4>
      <p class="module-icon">35</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-4 pyra-tile">
    <div class="well-upselling">
      <h3>Upgrade to 365 Analytics</h3>
      <p>Get indepth usage analytics to maximize your Office 365 investment.</p>
      <button type="button" class="btn btn-upselling mr-15 mt-15">Let's try it!</button>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Shipments</h4>
      <p class="module-icon">30</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
</div>
<div class="row pl-15" style="margin-top: 20px;">
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter-warning">
      <h4 class="">Quote Requests</h4>
      <p class="module-icon">49</p>
      <div class="line"></div>
      <p>1 Information needed</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Quotes</h4>
      <p class="module-icon">20</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Orders</h4>
      <p class="module-icon">20</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Invoices</h4>
      <p class="module-icon">39</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Shipments</h4>
      <p class="module-icon">30</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Shipments</h4>
      <p class="module-icon">30</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
</div>
<div class="row pl-15" style="margin-top: 20px;">
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-negative">
      <i class="fas fa-search module-icon"></i>
      <h4 class="">Products and Services</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-negative">
      <i class="far fa-heart module-icon"></i>
      <h4 class="">Product Favorites</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" hidden>
    <div class="nav-tile-positive">
      <i class="far fa-file module-icon"></i>
      <h4 class="">Shipments</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Transactions In Progress</h4>
      <p class="module-icon">35</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Transactions In Progress</h4>
      <p class="module-icon">35</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-2 pyra-tile" >
    <div class="nav-tile-positive-counter">
      <h4 class="">Transactions In Progress</h4>
      <p class="module-icon">35</p>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
</div>


<!-- Navigational -->
<div class="row" hidden>
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-positive">
      <h4 class="mb-5">Navigation Links</h4>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-cube"></i> Resource Manager</button><br>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-sitemap"></i> Custom Group Manager</button><br>
      <button type="button" class="btn btn-link-sm"><i class="fas fa-cube"></i> Resource Manager</button><br>
    </div>
  </div>
  <div class="col-md-2 pyra-tile">
    <div class="nav-tile-negative">
      <i class="fas fa-cube module-icon"></i>
      <h4 class="">Resource Manager</h4>
      <i class="fas fa-arrow-right nav-arrow"></i>
    </div>
  </div>
  <div class="col-md-4 pyra-tile">
    <div class="well-upselling">
      <h3>Upgrade to 365 Analytics</h3>
      <p>Maximize you Office 365 investment</p>
      <button type="button" class="btn btn-upselling mr-15 mt-15">Try this!</button>
    </div>
  </div>
</div>

<!-- Counter -->
<div class="row mb-30" hidden>
  <div class="col-md-2">
    <button type="button" class="btn btn-counter-neutral">
      <h6>Open Invoices</h6>
      <h4 class=""><i class="far fa-file"></i> 10</h4>
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-counter-success">
      <h6>Open Invoices</h6>
      <h4 class=""><i class="fas fa-check-circle"></i> 0</h4>
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-counter-warning">
      <h6>Open Invoices</h6>
      <h4 class=""><i class="far fa-file"></i> 10</h4>
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-counter-danger">
      <h6>Open Invoices</h6>
      <h4 class=""><i class="far fa-file"></i> 10</h4>
    </button>
  </div>
</div>
