<div class="entry">
    <div class="row">
        <div class="col-md-12">
            <div class="oval"></div>
            <p>12/20/2018 10:31 PM</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="line"></div>
            <div class="box">
                <p>Created at this time for this things. <small>by Wilhelmia Smith</small>
                    <div class="button"> 
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="entry">
    <div class="row">
        <div class="col-md-12">
            <div class="oval"></div>
            <p>12/20/2018 10:18 PM</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="line"></div>
            <div class="box">
                <p>Created at this time for this things. <small>by Wilhelmia Smith</small>
                    <div class="button"> 
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="entry">
    <div class="row">
        <div class="col-md-12">
            <div class="oval"></div>
            <p>12/20/2018 10:18 PM</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="line" hidden></div>
            <div class="box">
                <p>Created at this time for this things. <small>by Wilhelmia Smith</small>
                    <div class="button"> 
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
