<div class="row" style="border-bottom:1px solid #F5F5F4; padding:15px">
        <div class="col-md-8" >
        <h3 style="margin-top: 7px;margin-bottom:none">Will Smith <span class="badge badge-secondary">Admin</span></h3>
        </div>
        <div class="pull-right">
            
            <button class="btn btn-default">Edit</button>
            <button class="btn btn-default disabled">Remove User</button>
        </div>
 </div>


<div class="row" style="margin-bottom:15px">
            <h4 style="margin-top:15px; margin-bottom:15px;padding-left: 30px;font-weight:medium">User Settings</h4>
                <div class="col-xs-2">
                <span style="padding-left: 15px;">Name</span>
                </div>
                <div class="col-xs-4">
                Will Smith
                </div>
                 <div class="col-xs-2">
                <span style="padding-left: 15px;">Last Login</span>
                </div>
                <div class="col-xs-4">
                26/09/2018
                </div>
 </div>

 <div class="row" style="margin-bottom:15px">
                <div class="col-xs-2">
                <span style="padding-left: 15px;">Email</span>
                </div>
                <div class="col-xs-4">
                will.smith@astraflex.com
                </div>
 </div>

<div class="row" style="margin-bottom:30px;">
                <div class="col-xs-2">
                <span style="padding-left: 15px;">Permissions</span>
                </div>
                <div class="col-xs-4" style="    margin-left: 15px;border: 1px solid #E7E6E6; padding: 15px;margin-right:15px; border-radius:1px; background: #f4f5f4;">
                 <span class="font-weight:500">Admin</span>
                    </br/>
                    <p style="margin-top:15px"><i class="fa fa-star"></i> This allows you to give access to other accounts</p>
                </div>
 </div>




 {% include "_table_usergroupprofile.html.njk" %}

<div class="row"> 
    <div class="col-md-12">
      <a class="btn btn-primary" href="/rbac.html"><i class="fa fa-arrow-circle-left"></i> Back to overview</a>
    </div>
</div>

