<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
        {% include "./page_components/_head.html.njk" %}
    {% endblock %}
</head>
<body>
    {% include "./page_components/_nav.html.njk" %}
    <section class="gap"></section>
    <div class="container-fluid">
        <header>
            <div id="breadcrumb" class="mb-10">
                <span class="youarehere">You Are Here: </span><span class="breadcrumb-text"><a href="#" class="breadcrumb-active">Home</a> > <span class="breadcrumb-current-page">{{ page_title }} </span></span>
            </div>
            <div class="row mb-5">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h1>{{ page_title }}</h1>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6" style="margin-top: -10px;">
                    {% if page_actions %}
                        {% include "./page_components/_page_actions.njk" %}
                    {% endif %}
                </div>
            </div>
        </header>
        <!-- This is where the white page begins -->
        <div class="row">
            <div class="">
            {% block content %}
                {% include "./partials/_design_system.html.njk" %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="container-fluid mt-30">
        {% include "./page_components/_footer.html.njk" %}
    </div>
    <!-- Require js files -->
    {% block scripts %}
        {% include "./page_components/_scripts.html.njk"%}
    {% endblock %}
</body>
</html>