<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
        {% include "./page_components/_head.html.njk" %}
    {% endblock %}
</head>
<body>
    {% include "./page_components/_nav.html.njk" %}
    <section class="gap"></section>
    <div class="container-fluid">
        <header>
            <div id="breadcrumb">
                <h5>You Are Here: <a href="#" class="breadcrumb-active">Home</a> > <span class="breadcrumb-current-page">{{ page_title }} </span></h5>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h1>{{ page_title }}</h1>
                </div>
                {% if page_actions %}
                <div class="col-lg-4 col-lg-4 col-sm-4">
                    <div class="page-actions pull-right">
                        <p>
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            Edit Dashboard
                        <span class="page-actions divider"> | </span>
                            <i class="fa fa-search" aria-hidden="true"></i>
                            View Old Dashboard
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </header>
        <!-- This is where the white page begins -->
        <div class="row">
            <div class="card">
            {% block content %}
                {% include "./partials/_workbench.html.njk" %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% include "./page_components/_footer.html.njk" %}
    </div>
    <!-- Require js files -->
    {% block scripts %}
        {% include "./page_components/_scripts.html.njk"%}
    {% endblock %}
</body>
</html>