{% extends "base_pages/_base_page.njk" %}

{% set page_title = "Image Components" %}

{% block header %}
{# this comments ensures the header is loaded and nott overridden #}
    {{ super() }}
    {# include page specific css links you like #}
{% endblock %}

{% block content %}
{# content starts below #}
<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img alt="placeholder-image" src="images/placeholder.jpg" style="height: 180px; width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img alt="placeholder-image" src="images/placeholder.jpg" style="height: 180px; width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img alt="placeholder-image" src="images/placeholder.jpg" style="height: 180px; width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img alt="placeholder-image" src="images/placeholder.jpg" style="height: 180px; width: 100%; display: block;">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img alt="placeholder-image" src="images/placeholder.jpg" style="height: 180px; width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img alt="placeholder-image" src="images/placeholder.jpg" style="height: 180px; width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img alt="placeholder-image" src="images/placeholder.jpg" style="height: 180px; width: 100%; display: block;">
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img alt="placeholder-image" src="images/placeholder.jpg" style="height: 180px; width: 100%; display: block;">
        </a>
    </div>
</div>
{% endblock %}

{% block scripts%}
    {{ super() }}
    {# include link to custtom js here #}

{% endblock %}