{% extends "./_base_page.njk" %}

{% set page_title = "Page Title" %}

            <h3> Single button Macros</h3>
            <div class="space_1em">
                {% import "bootstrap_components/macros/_single_button_drop_macro.html.njk" as sin_b %}
                {{ sin_b.butt() }}
                {{ sin_b.butt(btn_class = "btn-danger") }}
                {{ sin_b.butt(btn_class = "btn-success") }}
                {{ sin_b.butt(btn_class = "btn-info") }}
                {{ sin_b.butt(btn_class = "btn-warn") }}
            </div>
            <p> Single button's are called by first importing the macro</p>
            <pre>{% raw %}
{% import "bootstrap_components/macros/_single_button_drop_macro.html.njk" as sin_b %}{% endraw %}</pre> It comes with a number of default paramerters
            <pre>
            {% raw %}
{% macro butt( name = 'default',
   btn_class = "btn-default",
   items = [{ link: "#", name: "Action" },
            { link: "#", name: "Action 2" }],
   sep = true,
   sep_item = { link: "#", name: "A final item"},
   id = "split-btn-1" ) %}{% endraw %}
            </pre></p>
            <br>
            <p>So you can just call
            <code>{% raw %}
                {{ sin_b.butt() }}{% endraw %}</code> and Voila</p>
            <br>
            <h3> Split button Macros</h3>
            <div class="space_1em">
                {% import "bootstrap_components/macros/_split_button_drop_macro.html.njk" as spli_b %}
                {{ spli_b.butt() }}
                {{ spli_b.butt(btn_class = "btn-danger") }}
                {{ spli_b.butt(btn_class = "btn-success btn-xs") }}
                {{ spli_b.butt(btn_class = "btn-info btn-sm") }}
                {{ spli_b.butt(btn_class = "btn-warn btn-lg") }}
            </div>
            <p> Split button's are called by first importing
            <br/>
            <pre>{% raw %}
{% import "bootstrap_components/macros/_single_button_drop_macro.html.njk" as sin_b %}{% endraw %}</pre> It comes with a number of default paramerters
            <pre>
            {% raw %}
{% macro butt( name = 'default',
   btn_class = "btn-default",
   items = [{ link: "#", name: "Action" },
            { link: "#", name: "Action 2" }],
   sep = true,
   sep_item = { link: "#", name: "A final item"},
   id = "split-btn-1" ) %}{% endraw %}
            </pre></p>
            <br>
            <p>So you can just call
            <code>{% raw %}
                {{ sin_b.butt() }}{% endraw %}</code> and Voila</p>
            <br>
            <h4>Buttons with Dropdowns</h4>
            {% import "bootstrap_components/macros/_buttons_drop_search_macro.html.njk" as but_s %}
            {{ but_s.search() }}
        </div>