{% extends "./_base_page.njk" %}

{% set page_title = "My Documents" %}
{% set page_actions = true %}

{% block header %}
{# this comments ensures the header is loaded and not overridden #}
    {{ super() }}
    {# include page specific css links you like #}
    {# <link rel="stylesheet" href="css/custom.css"> #}

{% endblock %}

{% block content %}
{# content starts below #}
    {% include "partials/_tiles.html.njk" %}
    {% include "partials/_tabs.html.njk" %}  
{% endblock %}

{% block scripts%}
    {{ super() }}
    {# include link to custtom js here #}
    
    {# Uncomment the line below to activate dashboard_hopscotch #}
    {# <script type='text/javascript' src='./js/dashboard_hopscotch.js'></script> #}

{% endblock %}