    <div id="nav">
        <nav id="pyracloud-navigation-top">
            <div id="nav-content">
                <ul id="menu-user-info">
                    <li><a href="#"><i class="far fa-bell" style="margin-right: 15px; margin-top: 3px; float: left; font-size: 16px;"></i></a></li>
                    <li><a href="#"><i class="fas fa-users" style="margin-right: 15px; margin-top: 3px; float: left; font-size: 16px;"></i></a></li>
                    <li><a href="#"><i class="far fa-flag" style="margin-right: 15px; margin-top: 3px; float: left; font-size: 16px;"></i></a></li>
                    <li><a href="#"><i class="fas fa-folder" style="margin-right: 15px; margin-top: 3px; float: left; font-size: 16px;"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart" style="margin-right: 15px; margin-top: 3px; float: left; font-size: 16px;"></i></a></li>

                    <span class="user-box">
                      <i class="fa fa-user-circle" id="fa-user-circle-o" aria-hidden="true" style="margin-right: 5px;"></i>
                        <li>Will Smith
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </li>
                    </span>
                    <span class="user-box">
                      <li>Eng
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </li>
                    </span>
                </ul>
            </div>
        </nav>

        <!-- Botton naviagtion section -->
        <nav id="pyracloud-navigation">
            <div id="nav-content-bottom">
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <img id="pyracloud-logo" src="images/pyracloud-logo-nav.png" alt="PyraCloud logo will link to the dashboard">
                        <ul id="menu-primary">
                            <li class="">Dashboard</li>
                            <li class="interactive">
                                <button type="button" class="interactive" style="border: none;" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<small>Documents</small><br><i class="far fa-file icon-menu"></i><a href="#">Quotes</a><br><i class="far fa-file icon-menu"></i><a href="#">Orders</a><br><i class="far fa-file icon-menu"></i><a href="invoices.html" class="interactive">Invoices</a><br><i class="far fa-file icon-menu"></i><a href="#">Shipments</a><br><i class="far fa-file icon-menu"></i><a href="#">Credit Memos</a><br><i class="far fa-file icon-menu"></i><a href="#">Special Quotes</a><hr style="margin-top: 5px; margin-bottom: 5px;"><small>Reports</small><br><i class="far fa-file icon-menu"></i><a href="index.html" class="interactive">Quick Reports</a><br><i class="far fa-file icon-menu"></i><a href="index.html" class="interactive">Scheduled</a><br><i class="far fa-file icon-menu"></i><a href="index.html" class="interactive">History</a>'>
                                    Documents <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </button>
                            </li>
                            <li class="interactive">
                                <button type="button" class="" style="border: none;" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<small>Software</small><br><i class="far fa-file icon-menu"></i><a href="#">Software Assets</a><br><i class="far fa-file icon-menu"></i><a href="#">Software Downloads</a><br><i class="far fa-file icon-menu"></i><a href="recommendations.html" class="">Recommendations</a><hr style="margin-top: 5px; margin-bottom: 5px;"><small>Contracts</small><br><i class="far fa-file icon-menu"></i><a href="renewal_manager.html" class="">Renewals</a><hr style="margin-top: 5px; margin-bottom: 5px;"><small>Cloud Consumption</small><br><i class="far fa-file icon-menu"></i><a href="consumption.html" class="">Consumption Overview</a><br><i class="far fa-file icon-menu"></i><a href="chargebacks.html" class="">Chargebacks</a>'>
                                    Buy <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </button>
                            </li>
                            <li class="interactive">
                                <button type="button" class="" style="border: none;" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<small>Software</small><br><i class="far fa-file icon-menu"></i><a href="#">Software Assets</a><br><i class="far fa-file icon-menu"></i><a href="#">Software Downloads</a><br><i class="far fa-file icon-menu"></i><a href="recommendations.html" class="">Recommendations</a><hr style="margin-top: 5px; margin-bottom: 5px;"><small>Contracts</small><br><i class="far fa-file icon-menu"></i><a href="renewal_manager.html" class="">Renewals</a><hr style="margin-top: 5px; margin-bottom: 5px;"><small>Cloud Consumption</small><br><i class="far fa-file icon-menu"></i><a href="consumption.html" class="">Consumption Overview</a><br><i class="far fa-file icon-menu"></i><a href="chargebacks.html" class="">Chargebacks</a>'>
                                    Manage <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </button>
                            </li>
                            <li class="interactive">
                                <button type="button" class="" style="border: none;" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<small>Software</small><br><i class="far fa-file icon-menu"></i><a href="#">Software Assets</a><br><i class="far fa-file icon-menu"></i><a href="#">Software Downloads</a><br><i class="far fa-file icon-menu"></i><a href="recommendations.html" class="">Recommendations</a><hr style="margin-top: 5px; margin-bottom: 5px;"><small>Contracts</small><br><i class="far fa-file icon-menu"></i><a href="renewal_manager.html" class="">Renewals</a><hr style="margin-top: 5px; margin-bottom: 5px;"><small>Cloud Consumption</small><br><i class="far fa-file icon-menu"></i><a href="consumption.html" class="">Consumption Overview</a><br><i class="far fa-file icon-menu"></i><a href="chargebacks.html" class="">Chargebacks</a>'>
                                    Company <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                         {% include "partials/_global_search.html.njk" %}
                    </div>
                </div>
            </div>
        </nav>
    </div> {# end nav #}