<div class="page-actions" id="page_act">
    <div class="pull-right">
        <p id="page_action_edit" >
            <span id="page_act_edit">
                <i class="fas fa-pencil-alt"></i> Edit
            </span>
            <span class="divider"> | </span>
            <span id="page_act_old">
                <i class="fa fa-search"></i> Old Dashboard
            </span>
            <span class="divider"> | </span>
            <span id="page_act_tour">
                <i class="fas fa-motorcycle"></i> Tour
            </span>
        </p>
    </div>
</div>