<div class="page-actions" id="page_act">
    <div class="pull-right">
        <p id="page_action_edit" >
            <span id="page_act_edit" class="page-action-btn">
                <i class="far fa-file-alt"></i> Exports
            </span>
            <span class="seperator">|</span>
            <span id="page_act_old" class="page-action-btn">
                <i class="fas fa-plus-circle"></i> New Request
            </span>
            <span class="seperator">|</span>
            <span id="page_act_tour" class="page-action-btn">
                <i class="far fa-file-alt"></i> Catelog History
            </span>
        </p>
    </div>
</div>